<div class="col-md-12" style="border-bottom:1px solid rgba(128, 128, 128, 0.19);">
    
    <div class="col-md-6 col-xs-12 zig">
            <a href="{{ site_base }}/article/detail/a/{{ article["id"] }}">
              <img class="mini-articulos" src="{{ article["thumb_500"] }}" />
            </a>
    </div>

            
    <div class="col-md-6 col-xs-12 lef">
        <h1 class="text-left tres"> {{ article["title"] }} </h1>
        <p class="text-left cuatro ellipsis multiline">{{ article["caption"] }} </p>
        <a href="{{ site_base }}/article/detail/a/{{ article["id"] }}" onclick="vermas()" class="lok">Ver Más</a>
    </div>

</div>