{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/products.js?99"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js?99"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/dermatologia.js?99"></script>
{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}


<section>
    <div class="mobile fullscreen background parallax" style="background:url('{{ read_image(site.name + '_banner_hi',500) }}'); background-attachment:fixed; height:300px; background-size:cover; margin-top: 0px;  filter: grayscale(0%) brightness(65%);-webkit-filter: grayscale(0%) brightness(65%);
    -moz-filter: grayscale(0%) brightness(65%);-ms-filter: grayscale(0%) brightness(65%);-o-filter: grayscale(0%) brightness(65%); background-position:center;" data-img-width="1600" data-img-height="860" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_banner_hi">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_hi" name="image" id="img_banner_hi">
        </div>
        {% end %}
        <img id="{{ site.name }}_banner_hi" src="{{ read_image(site.name + '_banner_hi', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_hi',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>

    <div class="col-md-12">
        <div class="box-text-gal">
            <h1 class="text-center titulo {{editabletext}}" text-id="{{ site.name + '_til_li_hi' }}"> {{ read_text(site.name +  '_til_li_hi') }}</h1>
        </div>

    </div>

</section>


<section>
    <div class="container">
        <div class="col-md-12">
            <div align="center">
                <div class="bajada text-center {{editabletext}}" text-id="{{ site.name + '_baj_li_hi' }}"> {{ read_text(site.name + '_baj_li_hi') }} </div>
            </div>
        </div>
    </div>

</section>


<section>
    <div class="container">

        {{ getArticleList(limit=1, html="page/article_home.html", tag='historia,posicion 1') }} {{ getArticleList(limit=1, html="page/article_home.html", tag='historia,posicion 2') }} {{ getArticleList(limit=1, html="page/article_home.html", tag='historia,posicion
        3') }} {{ getArticleList(limit=1, html="page/article_home.html", tag='historia,posicion 4') }}

    </div>

</section>



<section id="contenedor">
    <div class="container">
        <div class="row spa article_list">
            {{ getArticleList(tag='historia,-posicion 1,-posicion 2,-posicion 3,-posicion 4') }}
        </div>
    </div>

</section>

<section>
    <div align="center">
        <div class="fin-art text-center {{editabletext}}" text-id="{{ site.name + '_art_hi' }}"> {{ read_text(site.name + '_art_hi') }}</div>
        <hr class="len">
        <div class="fin-art-2 text-center {{editabletext}}" text-id="{{ site.name + '_art_2_hi' }}"> {{ read_text(site.name + '_art_2_hi') }}</div>
    </div>
</section>


{% include '../home/footer.html' %}

{% end %}
