{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}
{% block css %}

{% if is_admin %}
{% end %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css?99">
<style type="text/css">
    @media (max-width: 768px){
        .contenido-index {
            margin-top: 15%;
        }
    }

    @media (max-width: 414px){
        .contenido-index {
            margin-top: 35%;
        }
    }

    @media (max-width: 375px){
        .contenido-index {
            margin-top: 45%;
        }
    }
    @media (max-width: 320px){
        .contenido-index {
            margin-top: 41%;
        }
    }
</style>
{% end %}


{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/products.js?99"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/cart.config.js?99"></script>
<script type="text/javascript" src="{{ site_base }}/static/js/banners.js?99"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
    //
        $(document).on("click", ".subcateg", function(ev){
            // ev.preventDefault();
            $(".subcateg").removeClass('active');
            $(this).addClass('active');
        });
    });

    $(function()
    {
        $(window).unload(function()
        {
            var scrollPosition = $("div#element").scrollTop();
            localStorage.setItem("scrollPosition", scrollPosition);
        });
        if(localStorage.scrollPosition)
        {
            $("div#element").scrollTop(localStorage.getItem("scrollPosition"));
        }
    });
</script>

{% end %}

{% block body %}

{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}


<!-- *contenido* -->
    <body id="lapimport">
        <div class="container min contenido-index">
            <section>
                <!--ROSARIO SCARINI-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca1" style="background:url('{{ read_image(site.name + '_productos_marca1',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca1">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca1" name="image" id="img_productos_marca1" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca1" src="{{ read_image(site.name + '_productos_marca1', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca1',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca1 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca1' }}"> {{ read_text(site.name +  '_marca1') }}</div>
                    </div>
                <!--END ROSARIO SCARINI-->

                <!--ANA BOLENA-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca2" style="background:url('{{ read_image(site.name + '_productos_marca2',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca2">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca2" name="image" id="img_productos_marca2" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca2" src="{{ read_image(site.name + '_productos_marca2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca2',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca2 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca2' }}"> {{ read_text(site.name +  '_marca2') }}</div>
                    </div>
                <!--END ANA BOLENA-->

                <!--CORK DESIGN-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca3" style="background:url('{{ read_image(site.name + '_productos_marca3',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca3">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca3" name="image" id="img_productos_marca3" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca3" src="{{ read_image(site.name + '_productos_marca3', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca3',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca3 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca3' }}"> {{ read_text(site.name +  '_marca3') }}</div>
                    </div>
                <!--END CORK DESIGN-->

                <!--LA PIJAMERIA-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca4" style="background:url('{{ read_image(site.name + '_productos_marca4',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca4">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca4" name="image" id="img_productos_marca4" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca4" src="{{ read_image(site.name + '_productos_marca4', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca4',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca4 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca4' }}"> {{ read_text(site.name +  '_marca4') }}</div>
                    </div>
                <!--END LA PIJAMERIA-->

                <!--ANTONIMA-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca5" style="background:url('{{ read_image(site.name + '_productos_marca5',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca5">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca5" name="image" id="img_productos_marca5" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca5" src="{{ read_image(site.name + '_productos_marca5', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca5',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca5 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca5' }}"> {{ read_text(site.name +  '_marca5') }}</div>
                    </div>
                <!--END ANTONIMA-->

                <!--PILI SAENZ JOYAS-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca6" style="background:url('{{ read_image(site.name + '_productos_marca6',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca6 ">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca6" name="image" id="img_productos_marca6 " >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca6" src="{{ read_image(site.name + '_productos_marca6 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca6',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca6 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca6' }}"> {{ read_text(site.name +  '_marca6') }}</div>
                    </div>
                <!--END PILI SAENZ JOYAS-->

                <!--ALOHA SW-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca7" style="background:url('{{ read_image(site.name + '_productos_marca7',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca7 ">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca7" name="image" id="img_productos_marca7 " >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca7" src="{{ read_image(site.name + '_productos_marca7 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca7',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca7 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca7' }}"> {{ read_text(site.name +  '_marca7') }}</div>
                    </div>
                <!--END ALOHA SW-->

                <!--LISANTINO-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca8" style="background:url('{{ read_image(site.name + '_productos_marca8',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca8 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca8" name="image" id="img_productos_marca8 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca8" src="{{ read_image(site.name + '_productos_marca8 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca8',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca8 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca8' }}"> {{ read_text(site.name +  '_marca8') }}</div>
                    </div>
                <!--END LISANTINO-->

                <!--KUYEN-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca9" style="background:url('{{ read_image(site.name + '_productos_marca9',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca9 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca9" name="image" id="img_productos_marca9 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca9" src="{{ read_image(site.name + '_productos_marca9 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca9',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca9 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca9' }}"> {{ read_text(site.name +  '_marca9') }}</div>
                    </div>
                <!--END KUYEN-->

                <!--A MI ME VISTE MI MAMI-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca10" style="background:url('{{ read_image(site.name + '_productos_marca10',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca10 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca10" name="image" id="img_productos_marca10 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca10" src="{{ read_image(site.name + '_productos_marca10 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca10',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca10 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca10' }}"> {{ read_text(site.name +  '_marca10') }}</div>
                    </div>
                <!--END A MI ME VISTE MI MAMI-->

                <!--MANDALA-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca11" style="background:url('{{ read_image(site.name + '_productos_marca11',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca11 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca11" name="image" id="img_productos_marca11 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca11" src="{{ read_image(site.name + '_productos_marca11 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca11',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca11 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca11' }}"> {{ read_text(site.name +  '_marca11') }}</div>
                    </div>
                <!--END MANDALA-->

                <!--STOFF-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca12" style="background:url('{{ read_image(site.name + '_productos_marca12',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca12 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca12" name="image" id="img_productos_marca12 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca12" src="{{ read_image(site.name + '_productos_marca12 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca12',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca12 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca12' }}"> {{ read_text(site.name +  '_marca12') }}</div>
                    </div>
                <!--END STOFF-->

                <!--YAMBO-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca13" style="background:url('{{ read_image(site.name + '_productos_marca13',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca13 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca13" name="image" id="img_productos_marca13 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca13" src="{{ read_image(site.name + '_productos_marca13 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca13',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca13 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca13' }}"> {{ read_text(site.name +  '_marca13') }}</div>
                    </div>
                <!--END YAMBO-->

                <!--MORA-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca14" style="background:url('{{ read_image(site.name + '_productos_marca14',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca14 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca14" name="image" id="img_productos_marca14 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca14" src="{{ read_image(site.name + '_productos_marca14 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca14',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca14 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca14' }}"> {{ read_text(site.name +  '_marca14') }}</div>
                    </div>
                <!--END MORA-->

                <!--PAULA MAR-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca15" style="background:url('{{ read_image(site.name + '_productos_marca15',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca15 ">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca15" name="image" id="img_productos_marca15 " >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca15" src="{{ read_image(site.name + '_productos_marca15 ', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca15',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca15 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca15' }}"> {{ read_text(site.name +  '_marca15') }}</div>
                    </div>
                <!--END PAULA MAR-->

                <!--VILLAGRAN VILLAGRAN-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca16" style="background:url('{{ read_image(site.name + '_productos_marca16',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca16">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca16" name="image" id="img_productos_marca16" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca16" src="{{ read_image(site.name + '_productos_marca16', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca16',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                     <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca16 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca16' }}"> {{ read_text(site.name +  '_marca16') }}</div>
                    </div>
                <!--END VILLAGRAN VILLAGRAN-->

                <!--DIONEA-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca17" style="background:url('{{ read_image(site.name + '_productos_marca17',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca17">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca17" name="image" id="img_productos_marca17" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca17" src="{{ read_image(site.name + '_productos_marca17', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca17',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                     <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca17 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca17' }}"> {{ read_text(site.name +  '_marca17') }}</div>
                    </div>
                <!--END DIONEA-->

                <!--AMELIE LINGERINE-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca18" style="background:url('{{ read_image(site.name + '_productos_marca18',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca18">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca18" name="image" id="img_productos_marca18" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca18" src="{{ read_image(site.name + '_productos_marca18', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca18',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                     <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca18 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca18' }}"> {{ read_text(site.name +  '_marca18') }}</div>
                    </div>
                <!--END AMELIE LINGERINE-->

                <!--TTANTI-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca19" style="background:url('{{ read_image(site.name + '_productos_marca19',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca19">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca19" name="image" id="img_productos_marca19" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca19" src="{{ read_image(site.name + '_productos_marca19', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca19',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                     <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca19 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca19' }}"> {{ read_text(site.name +  '_marca19') }}</div>
                    </div>
                <!--END TTANTI-->

                <!--SR.VITORIO-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca20" style="background:url('{{ read_image(site.name + '_productos_marca20',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca20">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca20" name="image" id="img_productos_marca20" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca20" src="{{ read_image(site.name + '_productos_marca20', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca20',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                     <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca20 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca20' }}"> {{ read_text(site.name +  '_marca20') }}</div>
                    </div>
                <!--END SR.VITORIO-->

                <!--ZELK-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca21" style="background:url('{{ read_image(site.name + '_productos_marca21',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                        <div class="image-upload part1 lapiz visible-movil">
                            <label for="img_productos_marca21">
                                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca21" name="image" id="img_productos_marca21" >
                        </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca21" src="{{ read_image(site.name + '_productos_marca21', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca21',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                     <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca21 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca21' }}"> {{ read_text(site.name +  '_marca21') }}</div>
                    </div>
                <!--END ZELK-->

                <!--TOROSANTO-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca22" style="background:url('{{ read_image(site.name + '_productos_marca22',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca22">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca22" name="image" id="img_productos_marca22" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca22" src="{{ read_image(site.name + '_productos_marca22', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca22',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>
                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca22 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca22' }}"> {{ read_text(site.name +  '_marca22') }}</div>
                    </div>
                <!--END TOROSANTO-->

                <!--NYAH-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca23" style="background:url('{{ read_image(site.name + '_productos_marca23',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca23">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca23" name="image" id="img_productos_marca23" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca23" src="{{ read_image(site.name + '_productos_marca23', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca23',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca23 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca23' }}"> {{ read_text(site.name +  '_marca23') }}</div>
                    </div>
                <!--END NYAH-->

                <!--FIBRA EYEWEAR-->
                    <div class="mobile banner-movil hidden banner-listado-productos listado_productos_marca24" style="background:url('{{ read_image(site.name + '_productos_marca24',500) }}');" data-img-width="1600" data-img-height="1064" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload part1 lapiz visible-movil">
                                <label for="img_productos_marca24">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_productos_marca24" name="image" id="img_productos_marca24" >
                            </div>
                        {% end %}
                        <img id="{{ site.name }}_productos_marca24" src="{{ read_image(site.name + '_productos_marca24', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_productos_marca24',500) }}'" class="banner_uno_list hidden" alt="item">
                    </div>

                    <div class="col-md-12">
                        <div align="center" class=" hidden listado_productos_marca24 texto-one marcas-movil {{editabletext}}" text-id="{{ site.name + '_marca24' }}"> {{ read_text(site.name +  '_marca24') }}</div>
                    </div>
                <!--END FIBRA EYEWEAR-->
            </section>
        </div>

        <section>
            <div class="container min productos-ipad container-minimo">
                <div class="products"></div>
            </div>
            <div class="col-xs-12 boton-cargar">
                <div align="center">
                    <button type="button" class="btn btn-default more-products" style="display: none">CARGAR MÁS PRODUCTOS</button>
                </div>
            </div>
        </section>
    </body>
    {% include '../home/footer.html' %}
{% end %}
