<div id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mar">
    <div class="container-fluid">
         <div align="center">
             <hr>
         </div>
    </div>

    <div class="container min">
      <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="inform-comerc text-left">
                <div class="clearfix"></div>
                    <ul class="no-dot">
                      <li class="ul-1 {{editabletext}}" text-id="{{ site.name + '_foot_0' }}"> {{ read_text(site.name +  '_foot_0') }}
                      </li>
                      <li class="ul-1">
                        <div class="col-md-2 col-sm-3">
                          <a href="https://www.facebook.com/vitrineate/" target="_blank">
                            <img class="facebook" src="https://cdn.loadingplay.com/static/images/dce52a1f2876e2da500e60af5266625a_facebook_hover.png">
                          </a>
                        </div>
                        <div class="col-md-2 col-sm-3">
                          <a href="https://www.instagram.com/vitrineate/" target="_blank">
                            <img class="instagram" src="https://cdn.loadingplay.com/static/images/de8700995496fb357a1350644634aea5_instagram_hover.png">
                          </a>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="inform text-left">
                <div class="clearfix"></div>
                    <ul class="no-dot ">
                            <li class="ul-1 {{editabletext}}" text-id="{{ site.name + '_foot_10' }}"> {{ read_text(site.name +  '_foot_10') }}
                            </li>
                            <div class="gun {{editabletext}}" text-id="{{ site.name + '_foot_11' }}"> {{ read_text(site.name +  '_foot_11') }}
                            </div>
                            <div class="gun {{editabletext}}" text-id="{{ site.name + '_foot_12' }}"> {{ read_text(site.name +  '_foot_12') }}
                            </div>
                    </ul>
            </div>
            </div>


             <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="inform-2 text-left">
                <div class="clearfix"></div>
                    <ul class="no-dot">
                        <li class="ul-1 {{editabletext}}" text-id="{{ site.name + '_foot_20' }}"> {{ read_text(site.name +  '_foot_20') }}
                        </li>
                    </ul>
                    <ul class="no-dot inscribete-div">
                      <div class="gun {{editabletext}}" text-id="{{ site.name + '_foot_newsletter' }}"> {{ read_text(site.name +  '_foot_newsletter') }}</div>
                      <form>
                        <input type="text" name="fdsfgsfg" class="insc-input" placeholder="Tu Mail" required>
                        <br>
                        <input type="submit" name="asdfakljsdhf" value="Inscribete" class="inscribete-btn">
                      </form>
                    </ul>
            </div>
            </div>
  
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="inform-comerc text-left">
                  <div class="clearfix"></div>
                  <ul class="no-dot d-o">
                      <li class="ul-2 {{editabletext}}" text-id="{{ site.name + '_foot_2323' }}"> {{ read_text(site.name +  '_foot_2323') }}
                      </li>
                      {% if is_admin %}
                              <div class="image-upload visible-movil" style="left: 25px;top:50px;">
                                  <label for="img_foot_webpay">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                  <input type="file" class="editableimage" image-id="{{ site.name }}_img_foot_webpay" name="image" id="img_foot_webpay" >
                              </div>
                            {% end %}
                            <div class="de">
                              <img class="webpay" id="{{ site.name }}_img_foot_webpay" src="{{ read_image(site.name + '_img_foot_webpay', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_foot_webpay',500) }}'" alt="item">
                            </div>
                      {% if is_admin %}
                              <div class="image-upload visible-movil" style="left: 25px;top: 130px;">
                                  <label for="img_foot_img_2">
                                     <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                 </label>
                                  <input type="file" class="editableimage" image-id="{{ site.name }}_img_foot_img_2" name="image" id="img_foot_img_2" >
                              </div>
                            {% end %}
                            <div class="de">
                              <img class="webpay" id="{{ site.name }}_img_foot_img_2" src="{{ read_image(site.name + '_img_foot_img_2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_foot_img_2',500) }}'" alt="item">
                            </div>
                  </ul>
              </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 logo-footer">
            {% if is_admin %}
            <div class="image-upload visible-movil" style="left: 25px;">
                <label for="img_logo_footer">
                   <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_img_logo_footer" name="image" id="img_logo_footer" >
            </div>
            {% end %}
            <a id="{{ site.name + '_logo' }}" href="#">
              <div class="base-logo-footer">
                <img class="l-footer-footer" id="{{ site.name }}_img_logo_footer" src="{{ read_image(site.name + '_img_logo_footer', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_logo_footer',500) }}'" alt="item">
              </div>
            </a>
            <div class="col-md-3">
              {% if user is None %}
                <a href="{{ site_base }}/auth/login" class="a-footer" >Login</a>
              {% else %}
                <a href="{{ site_base }}/auth/logout" class="a-footer" >Logout</a>
              {% end %}
            </div> 
          </div>
          <div class="col-md-12 col-xs-12 firma"><a href="https://www.loadingplay.com">Sytes tech. Developed by LoadingPlay.</a></div>
      </div>
  </div>
