<div class="container min hidden-sm">
  <div class="col-md-12 huincha-header">
    <div class="{{editabletext}} col-md-10 header-text-huincha" text-id="{{ site.name + '_head_1' }}"> {{ read_text(site.name +  '_head_1') }} </div>
    <button class="cerrar-huincha">X</button>
  </div>
             <div class="col-md-12 head-logo">
               <li class="bolsa" id="open-cart" data-toggle="modal" data-target="#myModal">
                <img class="img-bolsa" src="https://cdn.loadingplay.com/static/images/34b9602179fdac2bb493e006a8eac7a1_carrito.png">
                CARRITO
                <span class="unidades"></span>
              </li>
            </div>
          </div>

<div class="container min visible-lg visible-md hidden-sm hidden-xs menu-safari">
  <nav class="navbar">
    <div class="container min">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="brand-centered">
      <a class="navbar-brand" href="">
      </a>
      </div>
      
      <div id="navbar9" class="navbar-collapse head-menu collapse">
        <ul class="nav navbar-nav navbar-left">
          <div class="logo_wrapper navbar-brand" style="padding: 0px; position: relative;top: -31px;">
            {% if is_admin %}
            <div class="image-upload visible-movil" style="left: 600px;">
                <label for="img_logo">
                   <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
               </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_img_logo" name="image" id="img_logo" >
            </div>
            {% end %}
            <a id="{{ site.name + '_logo' }}" href="#">
              <div class="base-logo logo-desk">
                <img class="logo" id="{{ site.name }}_img_logo" src="{{ read_image(site.name + '_img_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_logo',500) }}'" alt="item" style="margin-right: 10px; padding: 0;">
                </div>
            </a>
        </div>

          <!-- CATEGORIA MUJER -->
          <div class="w3-dropdown-hover">
            <button class="w3-btn w3-red" data-toggle="dropdown" tag="colecciones" onclick="window.location.href='{{ site_base }}/listado_productos?tag=cat1_mujer'">MUJER</button>
            <div class="w3-dropdown-content w3-border">
              <li class="dropdown-submenu">
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_m">ROPA</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_zapatos_m">ZAPATOS</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_interior_m">ROPA INTERIOR</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_deportiva_m">ROPA DEPORTIVA</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_trajes_de_bano_m">TRAJE DE BAÑO</a></li>

              </li>
            </div>
          </div>
          <!-- CATEGORIA HOMBRE -->
          <div class="w3-dropdown-hover">
            <button class="w3-btn w3-red" data-toggle="dropdown" tag="colecciones" onclick="window.location.href='{{ site_base }}/listado_productos?tag=cat1_hombre'">HOMBRE</button>
            <div class="w3-dropdown-content w3-border">
             <li class="dropdown-submenu">
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_camisa_h">CAMISAS</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_trajes_de_bano_h">TRAJE DE BAÑO</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_polera_h">POLERAS</a></li>
              </li>
            </div>
          </div>
          <!-- CATEGORIA NIÑOS -->
          <div class="w3-dropdown-hover">
            <button class="w3-btn w3-red" data-toggle="dropdown" tag="colecciones" onclick="window.location.href='{{ site_base }}/listado_productos?tag=cat1_ninos'">BEBE / NIÑOS</button>
            <div class="w3-dropdown-content w3-border">
             <li class="dropdown-submenu">
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_n">ROPA</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_accesorios_n">ACCESORIOS</a></li>
            </div>
          </div>
          
          <!-- CATEGORIA ACCESORIOS -->
          <div class="w3-dropdown-hover">
            <button class="w3-btn w3-red" data-toggle="dropdown" tag="colecciones" onclick="window.location.href='{{ site_base }}/listado_productos?tag=cat1_accesorios'">ACCESORIOS</button>
            <div class="w3-dropdown-content w3-border">
             <li class="dropdown-submenu">
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_aros">AROS</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_collares">COLLARES</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_cinturon">CINTURONES</a></li>
                  
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_mochilas">MOCHILAS</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_panuelos">PAÑUELOS</a></li>
              </li>
            </div>
          </div>
          <!-- CATEGORIA MARCAS -->
          <div class="w3-dropdown-hover">
            <button class="w3-btn w3-red" data-toggle="dropdown" tag="colecciones" onclick="window.location.href='{{ site_base }}/listado_productos?tag=cat1_marca'">MARCAS</button>
            <div class="w3-dropdown-content w3-border">
             <li class="dropdown-submenu">
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=rosaria_scarinci">ROSARIA SCARINCI</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=pili_saenz_joyas">PILI SAENZ JOYAS</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=aloha_sw">ALOHA SW</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=lisantino">LISANTINO</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=kuyen">KUYEN</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=a_mi_me_viste_mi_mami">A MI ME VISTE MI MAMI</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=stoff">STOFF</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=yambo">YAMBO</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=mora">MORA</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=paula_mar">PAULA MAR</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=villagran_villagran">VILLAGRAN VILLAGRAN</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=dionea">DIONEA</a></li>
                <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=amelie_lingerie">AMELIE LINGERIE</a></li>
              </li>
            </div>
          </div>
          <!-- CATEGORIA OFERTAS -->
          <div class="w3-dropdown-hover">
            <button class="w3-btn w3-red" data-toggle="dropdown" tag="colecciones" onclick="window.location.href='https://vitrineate.cl/article/detail/quienes_somos/2110'">QUIENES SOMOS</button>
          </div>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="buscador">
            <div class="texto-b">BUSCAR</div>
            <form id="searchform" class="form-search hidden" role="search" action="{{ site_base }}/listado_productos" method="get">
              <input type="text" id="s" name="search_query" placeholder="Buscar" class="busca search" value="{% try %}{{search_query}}{% except %}{% end %}">
            </form>
            <img class="img-lupa" src="https://7static.loadingplay.com/static/images/1da6ee373afe0e65ad1b94c0d7cd9e9d_Vector_search_iconclaro.png">
            <!-- <form role="search" method="get" id="searchform" action="{{ site_base }}/search_results">
                            <label class="up" for="s">
                                <i class="fa fa-search uno" aria-hidden="true"></i>
                            </label>
                            <input type="text" value="" name="search_query" placeholder="Buscar..." class="" id="s" />
                    </form> -->
          </li>
        </ul>
      </div>

    </div>
  
  </nav>
</div>



<!-- ******************MENU MOVIL*********************** -->

 <!-- Navigation -->
 <div class="container">
  <div class="col-md-12 huincha-header hidden-lg">
          <div class="{{editabletext}} header-text-huincha" text-id="{{ site.name + '_head_1' }}"> {{ read_text(site.name +  '_head_1') }} </div>
          <button class="cerrar-huincha">X</button>
        </div>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top hidden-md hidden-lg visible-sm visible-xs" style="margin-top: 31px;">
        <div class="container  header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle movil-menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <li class="bolsa-movil" id="open-cart" data-toggle="modal" data-target="#myModal">
                  <!-- <a href="" class="com"> Comprar </a> -->
                  <img class="img-bolsa" src="https://cdn.loadingplay.com/static/images/34b9602179fdac2bb493e006a8eac7a1_carrito.png">
                </li>
                <li class="lupa-movil">
                  <input class="img-lupa img-lupa-movil" type="image" src="https://7static.loadingplay.com/static/images/1da6ee373afe0e65ad1b94c0d7cd9e9d_Vector_search_iconclaro.png" border="0"/>
                </li>
                <a class="navbar-brand movil-logo" href="">
                  <div style="position:relative">
                         <div class="base-logo">
                             {% if is_admin %}
                             <div class="image-upload lapiz visible-movil">
                                <label for="img_logo">
                                   <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                               </label>
                               <input type="file" class="editableimage" image-id="{{ site.name }}_img_logo" name="image" id="img_logo">
                           </div>
                           {% end %}
                           <img id="{{ site.name }}_img_logo" src="{{ read_image(site.name + '_img_logo', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_img_logo',) }}'" class="img-responsive logo" alt="item">
                       </div>
               </div>
                     </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-left">
                <li class="">
                  <a href="#" class="text-header dropdown-toggle" data-toggle="dropdown">MUJER<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">           
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_m">ROPA</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_zapatos_m">ZAPATOS</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_interior_m">ROPA INTERIOR</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_deportiva_m">ROPA DEPORTIVA</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_trajes_de_bano_m">TRAJE DE BAÑO</a></li>
                  </ul>
                </li>
                <li class="">
                  <a href="#" class="text-header dropdown-toggle" data-toggle="dropdown">HOMBRES<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_camisa_h">CAMISAS</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_trajes_de_bano_h">TRAJE DE BAÑO</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_polera_h">POLERAS</a></li>
                  </ul>
                </li>
                <li class="">
                  <a href="#" class="text-header dropdown-toggle" data-toggle="dropdown">BEBE / NIÑOS <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_ropa_n">ROPA</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_accesorios_n">ACCESORIOS</a></li>
                  </ul>
                </li>
                <li class="">
                  <a href="#" class="text-header dropdown-toggle" data-toggle="dropdown">ACCESORIOS<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_aros">AROS</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_collares">COLLARES</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_cinturon">CINTURONES</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat2_mochilas">MOCHILAS</a></li>
                  </ul>
                </li>
                <li class="">
                  <a href="#" class="text-header dropdown-toggle" data-toggle="dropdown">MARCAS<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=rosaria_scarinci">ROSARIA SCARINCI</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=pili_saenz_joyas">PILI SAENZ JOYAS</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=aloha_sw">ALOHA SW</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=lisantino">LISANTINO</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=kuyen">KUYEN</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=a_mi_me_viste_mi_mami">A MI ME VISTE MI MAMI</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=stoff">STOFF</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=yambo">YAMBO</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=mora">MORA</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=paula_mar">PAULA MAR</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=villagran_villagran">VILLAGRAN VILLAGRAN</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=dionea">DIONEA</a></li>
                    <li><a tabindex="-1" href="{{ site_base }}/listado_productos?tag=amelie_lingerie">AMELIE LINGERIE</a></li>
                  </ul>
                </li>
                <li><a tabindex="-1" class="text-header dropdown-toggle"  href="https://vitrineate.cl/article/detail/quienes_somos/2110">QUIENES SOMOS</a></li>
              </li>
            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <div class="col-xs-12 buscador-movil">
          <div class="categorias-movil">
            <div class="col-sm-3 col-xs-3 nombre-categorias-movil">
              <a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat1_mujer">Mujer</a>
            </div>
            <div class="col-sm-3 col-xs-3 nombre-categorias-movil">
              <a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat1_hombre">Hombre</a>
            </div>
            <div class="col-sm-3 col-xs-3 nombre-categorias-movil">
              <a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat1_ninos">Niños</a>
            </div>
            <div class="col-sm-3 col-xs-3 nombre-categorias-movil">
              <a tabindex="-1" href="{{ site_base }}/listado_productos?tag=cat1_accesorios">Accesorios</a>
            </div>
          </div>
          <form id="searchform" class="form-search forma-movil hidden" role="search" action="{{ site_base }}/listado_productos" method="get">
              <input type="text" name="search_query" placeholder="Buscar" class="busca search mobile-search" value="{% try %}{{search_query}}{% except %}{% end %}">
          </form>
        </div>
        <!-- /.container -->
    </nav>
</div>
