{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bodegas/dist/bodegas.client.css">
{% end %}


{% block body %}

{% if is_admin %}
{% set editabletext = 'editabletext' %}
{% else %}
{% set editabletext = '' %}
{% end %}
<div class="container">
  <img src="https://84static.loadingplay.com/static/images/341baf4ab020a2fdd92c93bb1411d82f_BO.A" style="object-fit: scale-down;width: 100%;">
</div>

{% end %}


