  <div class="carritoproductos clearfix">
    <div class="flecha clearfix">
      <!-- <img class="image" src="/static/images/flecha-15x15.png" data-rimage data-src="/static/images/flecha-15x15.png"> -->
    </div>
    <!-- <div class="carritoinfo clearfix">
      <div class="productosencola clearfix">
        <div class="fotoproductoencola">
          <img class="image" src="/static/images/producto-70x70.png" data-rimage data-src="/static/images/producto-70x70.png">
        </div>
        <p class="nombreproductoencola">nombre productos</p>
        <p class="color">color: chucao30</p>
        <button class="eliminarproducto">X</button>
        <p class="talla">talla 39</p>
        <p class="cantidad">x1</p>
        <p class="precio">$ 00.0</p>
      </div>
      <div class="total clearfix">
        <p class="totalcarrrito">total &nbsp;$ 00.0</p>
      </div>
      <div class="acciones clearfix">
        <button class="iralcarro">
          <p>ir al carro</p>
          <p></p>
        </button>
        <button class="comprar">
          <p>comprar</p>
          <p></p>
        </button>
      </div>
    </div> -->
  </div>