/*doc

---
title: Paleta de colores
name: colors
category: basics
---

esta es la paleta de colores:

<div class="line txtC">
<div class="col-md-12">
        <div class="block col-md-1" style="background-color: #ff0000" ></div>
        <code class="col-md-11" >#ff0000</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #e9ffc6" ></div>
        <code class="col-md-11" >#e9ffc6</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #d6ff3e" ></div>
        <code class="col-md-11" >#d6ff3</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #3be1bc" ></div>
        <code class="col-md-11" >#3be1bc</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #999" ></div>
        <code class="col-md-11" >#999</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #666" ></div>
        <code class="col-md-11" >#666</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #5d5d5d" ></div>
        <code class="col-md-11" >#5d5d5</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #ccc" ></div>
        <code class="col-md-11" >#ccc</code>
    </div>
    <div class="col-md-12">
        <div class="block col-md-1" style="background-color: #fff" ></div>
        <code class="col-md-11" >#fff</code>
    </div>
    <div class="clearfix"></div>
</div>

*/

*, body
{
    font-family: 'Montserrat', sans-serif;
}
