#footer{
    background-color: transparent;
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
}

.ul-1{
    color:black;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 500;
}

.insc-input{
    color: black;
    width: 100%;
}

.logo-footer{
    position: relative;
    top: 20px;
}

.webpay{
    position: relative;
    max-width: 150px;
    right: 0px;
}

.inscribete-div{
    width: 71.1%;
}

.inscribete-btn{
    position: relative;
    top: 5px;
    float: right;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: 400;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-logo-rrss {
    width: 100%;
    background: transparent;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 0% 0%;
    position: relative;
    z-index: 200;
    left: 0px;
    bottom: 10px;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom:  10px;
}

.ul-2{
    color:black;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 500;
    left: -44px;
    position: relative;
}

.firma {
    position: relative;
    text-align: center;
    font-size: 12px;
}


.no-dot{
    color: #ccc;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0px;
}

img#vitrineate_img_logo_footer {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.d-o {
    left: 90px;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
}


.img-foot{
 /*   width: 72%;
    margin-top: 17px;*/
    height: 51px;
    width: 250px;
    float: left;
    margin-top: 0px;
    margin-bottom: 21px;
    object-fit: scale-down;
}

.caja-fo{
    height: 51px;
    width: 100px;
    /*float: left;*/
    margin-top: 17px;
    margin-bottom: 21px;
    left: -81px;
    position: relative;
}

.de{
   left: -44px;
   position: relative;
   color:black;
}

.a-footer{
    position: relative;
    left: 13px;
    top: 11px;
    font-size: 12px;
    color:black;
}

.gun{
    color:black;
}
.base-logo-footer{
    width: 170px;
    height: 97px;
    background: transparent;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 0% 0%;
    position: relative;
    left: -1%;
    bottom: 21px;
    margin-top: 7px;
    margin-right: 40px;
}
}

/*----------------Responsive---------------------*/


@media (max-width: 1040px){

.caja-fo {
    margin-top: -10px;
}

}

@media (max-width: 991px){
    .no-dot {
    font-size: 14px;
}

.caja-fo {
    left: -93px;
    margin-top: 10px;
}

.d-o {
    left: 85px;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
}

.inform-2.su {
    position: relative;
    left: 0px;
}

}


@media (max-width: 838px){
.d-o {
    left:60px;
    position:relative;
    width: 100%;
}

.caja-fo {
    left: 0px;
}

.img-foot {
    left: -92px;
    position: relative;
}

}

@media (max-width: 800px){
    .inform {
   /* left: 19px;*/
}

}

@media (max-width: 767px){

.inscribete-div {
    width: inherit;
}

.insc-input{
    border: solid 1px;
    color: black;
}

.inscribete-btn{
    float: inherit;
    margin-bottom: 20px;
}

.img-foot {
    left: 0px;
    position: relative;
    text-align: center;
}
.base-logo-footer {
    width: 100%;
    height: 100%;
    background: transparent;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 0% 0%;
    position: relative;
    z-index: 200;
    margin: auto;
}

.inform-comerc{
    text-align: center;
}

.inform-2 {
    text-align: center;
}

.d-o{
    text-align: center;
    left: 0px;
}

.inform{
    text-align: center;
}

.caja-fo {
    left: 217px;
    margin-top: 34px;
}

.de{
   left: 0px;
   position: relative;
}

.a-footer{
    position: relative;
    right: 0px;
}

.d-o {
    text-align: center;
    left: 0px;
    width: 100%;
}
.ul-2 {
    left: 0px;
}
img#vitrineate_img_logo_footer {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-left: 44%;
    margin-top: 20px;
}
}


@media (max-width: 700px){
    .img-foot {
    left: -25px;
    position: relative;
    text-align: center;
}

}


@media (max-width: 600px){
.img-foot {
    left: -74px;
    position: relative;
    text-align: center;
}
img#vitrineate_img_logo_footer {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-left: 41%;
}

}

@media (max-width: 480px){
    .img-foot {
    left: -140px;
    position: relative;
    text-align: center;
}
.webpay {
    position: relative;
    max-width: 150px;
    right: 0px;
}
img#vitrineate_img_logo_footer {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-left: 38%;
}

}

@media (max-width: 414px){
    .caja-fo {
        margin-top: 33px;

    }

    img#vitrineate2_img_logo_footer {
        position: relative;
        left: 38%;
    }

    a.a-footer {
        position: relative;
        left: 38%;
    }

    .ul-2{
            left: 0px;
        }

    .ul-{
        left: inherit;
    }

    .facebook{
        float: right;
    }

    .instagram{
        float: left;
    }

.img-foot {
    left: -183px;
    position: relative;
    text-align: center;
}

.l-footer{
    position: relative;
    left: 0px;
}

.firma{
    margin-top: 58px;
}

}


@media (max-width: 412px){
    .caja-fo {
        margin-top: 18px;
    }

}

@media (max-width: 400px){

.caja-fo {
    margin-top: 87px;
}


}


@media screen and (max-width: 700px){


}

@media (max-width: 375px){

    .facebook{
        float: right;
    }

    .instagram{
        float: left;
    }

.img-foot {
    left: -222px;
    position: relative;
    text-align: center;
}

img#vitrineate2_img_logo_footer {
    left: 35%;
}

a.a-footer {
    left: 35%;
}

.logo-footer{
    position: relative;
    top: 45px;
    left: 0px;
}
}

.firma{
    top: 8px;
}

.l-footer{
    left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

}

}

@media (max-width: 360px){
    .caja-fo {
    margin-top: 86px;
}

}


@media (max-width: 320px){

img#vitrineate2_img_logo_footer {
    left: 30%;
}

.facebook{
    float: right;
}

.instagram{
    float: left;
}

.caja-fo {
    margin-top: 55px;
}

.img-foot {
    left: -248px;
    position: relative;
    text-align: center;
}


}

@media (max-width: 270px){

}