.img-bolsa {
    width: 21%;
    position: relative;
    left: 122%;
    top: -5px;
    cursor: pointer;
}
.navbar-default {
    background-color: #fff;
}
.header-text-huincha {
    max-height: 23px;
    overflow: hidden;
}
.img-lupa{
    width: 18%;
    position: relative;
    top: -20px;
    left: 40px;
    cursor: pointer;
}

.cont-header{
    left: -15px;
    position: relative;
}

.fix-position{
    z-index: 999;
    position: fixed;
    background: white;
}

.unidades{
    font-size: 10px;
    position: relative;
    left: 132px;
    width: 30%;
    height: 30px;
    top: -21px;
    padding-left: 13px;
    padding-top: 7px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://cdn.loadingplay.com/static/images/1a51b1de0846e985df21f34664d3d326_carrito_lleno.png');
}

.cerrar-huincha{
    float: right;
    background: none;
    border: solid 1px;
    top: 2px;
    position: relative;
}

.huincha-header{
    background-color: #d7ff3e;
    height: 31px;
}

.texto-b {
    position: relative;
    right: 60px;
    width: 8%;
    margin-right: 0px;
}

.form-search{
    position: relative;
    right: 0px;
    width: 100%;
    left: 0px;
}

li.bolsa{
    float: right;
    left: -3%;
    position: relative;
    color: black;
    font-weight: 400;
    padding-left: 6px;
    top: 18px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: black;
background-color: transparent;
text-decoration: underline;
outline:none !important;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;

}

.head-logo{
    height: 40px;
}

.dropdown-menu {
    position: absolute;
    top: 32px;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 189px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-nav.navbar-right:last-child {
    margin-right: -76px;
    top: 14px;
    position: relative;
}

.navbar-left {
    float: left!important;
    position: relative;
}

.head-menu{
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
    left: -16px !important;
    position: relative !important;
}

.menu-safari{
    z-index: 1000;
    position: relative;
    height: 50%;
    margin-top: 10px;
}

.navbar {
     margin-bottom: 0px!important; 
}

.text-header {
    color: black !important;
    font-weight: 400;
}

.base-logo {
    width: 170px;
    height: 97px;
    background: transparent;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 0% 0%;
    position: relative;
    left: -4%;
    bottom: 21px;
    margin-top: 7px;
    margin-right: 40px;
}

.logo-desk{
    left: 480px;
}

.logo {
    width: 124px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    object-fit: scale-down;
    top: 0px;
    left: 5px;
    margin-top: 2px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  text-decoration: none;
  background-color: #9c8900;
  color: white;
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color:white ;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.62) !important;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.62) !important;
    color: white!important;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: rgba(128, 128, 128, 0.62);
}

.movil-h{
    color:rgba(130, 82, 19, 0.63)!important;
}
.movil-h:hover{
    background-color: #9c8900!important;
    color: white!important;
}
/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 82%;
    left: 18%;
    top: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.62);
}
.brand-centered .navbar-brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  -webkit-transform: translate(0,-50%);
          transform: translate(0,-50%);
  margin-right: 15px;
  margin-left: 15px;
}


.navbar-nav>li>.dropdown-menu {
  z-index: 9999;

}

/* W3.CSS 2.82 by Jan Egil and Borge Refsnes */



/* End extract */

.w3-btn, .w3-btn-block {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 14px 17px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 400;
    font-size: 13px;
}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{background-color: rgba(128, 128, 128, 0.62) !important; color: white;}
.w3-btn,.w3-btn-floating,.w3-btn-floating-large,.w3-closenav,.w3-opennav{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-btn-floating,.w3-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.w3-btn-floating{width:40px;height:40px;line-height:40px}.w3-btn-floating-large{width:56px;height:56px;line-height:56px}
.w3-disabled,.w3-btn:disabled,.w3-btn-floating:disabled,.w3-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn.w3-disabled *,.w3-btn-block.w3-disabled,.w3-btn-floating.w3-disabled *,.w3-btn:disabled *,.w3-btn-floating:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn-block.w3-disabled:hover,.w3-btn:disabled:hover,.w3-btn-floating.w3-disabled:hover,.w3-btn-floating:disabled:hover,
.w3-btn-floating-large.w3-disabled:hover,.w3-btn-floating-large:disabled:hover{box-shadow:none}
.w3-btn-group .w3-btn{float:left}.w3-btn-block{width:100%}
.w3-btn-bar .w3-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.w3-btn-bar .w3-btn:hover{background-color:#ccc}
.w3-badge,.w3-tag,.w3-sign{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.w3-badge{border-radius:50%}
ul.w3-ul{list-style-type:none;padding:0;margin:0}ul.w3-ul li{padding:6px 2px 6px 16px;border-bottom:1px solid #ddd}ul.w3-ul li:last-child{border-bottom:none}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.w3-navbar li{float:left}.w3-navbar li a,.w3-navitem{display:block;padding:8px 16px}.w3-navbar li a:hover{color:#000;background-color:#ccc}
.w3-navbar .w3-dropdown-hover,.w3-navbar .w3-dropdown-click{position:static}
.w3-navbar .w3-dropdown-hover:hover,.w3-navbar .w3-dropdown-hover:first-child,.w3-navbar .w3-dropdown-click:hover{background-color:#ccc;color:#000}
.w3-navbar a,.w3-topnav a,.w3-sidenav a,.w3-dropdown-content a,.w3-accordion-content a,.w3-dropnav a{text-decoration:none!important}
.w3-navbar .w3-opennav.w3-right{float:right!important}.w3-topnav{padding:8px 8px}
.w3-topnav a{padding:0 8px;border-bottom:3px solid transparent;-webkit-transition:border-bottom .3s;transition:border-bottom .3s}
.w3-topnav a:hover{border-bottom:3px solid #fff}.w3-topnav .w3-dropdown-hover a{border-bottom:0}
.w3-opennav,.w3-closenav{color:inherit}.w3-opennav:hover,.w3-closenav:hover{cursor:pointer;opacity:0.8}
.w3-btn,.w3-btn-floating,.w3-dropnav a,.w3-btn-floating-large,.w3-btn-block,.w3-hover-shadow,.w3-hover-opacity,.w3-hover-opacity-off,.w3-hover-sepia,.w3-hover-grayscale,.w3-hover-greyscale,
.w3-navbar a,.w3-sidenav a,.w3-pagination li a,.w3-hoverable tbody tr,.w3-hoverable li,.w3-accordion-content a,.w3-dropdown-content a,.w3-dropdown-click:hover,.w3-dropdown-hover:hover,.w3-opennav,.w3-closenav,.w3-closebtn,
.w3-hover-amber,.w3-hover-aqua,.w3-hover-blue,.w3-hover-light-blue,.w3-hover-brown,.w3-hover-cyan,.w3-hover-blue-grey,.w3-hover-green,.w3-hover-light-green,.w3-hover-indigo,.w3-hover-khaki,.w3-hover-lime,.w3-hover-orange,.w3-hover-deep-orange,.w3-hover-pink,
.w3-hover-purple,.w3-hover-deep-purple,.w3-hover-red,.w3-hover-sand,.w3-hover-teal,.w3-hover-yellow,.w3-hover-white,.w3-hover-black,.w3-hover-grey,.w3-hover-light-grey,.w3-hover-dark-grey,.w3-hover-text-amber,.w3-hover-text-aqua,.w3-hover-text-blue,.w3-hover-text-light-blue,
.w3-hover-text-brown,.w3-hover-text-cyan,.w3-hover-text-blue-grey,.w3-hover-text-green,.w3-hover-text-light-green,.w3-hover-text-indigo,.w3-hover-text-khaki,.w3-hover-text-lime,.w3-hover-text-orange,.w3-hover-text-deep-orange,.w3-hover-text-pink,.w3-hover-text-purple,
.w3-hover-text-deep-purple,.w3-hover-text-red,.w3-hover-text-sand,.w3-hover-text-teal,.w3-hover-text-yellow,.w3-hover-text-white,.w3-hover-text-black,.w3-hover-text-grey,.w3-hover-text-light-grey,.w3-hover-text-dark-grey
{-webkit-transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;transition:background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s}
.w3-ripple:active{opacity:0.5}.w3-ripple{-webkit-transition:opacity 0s;transition:opacity 0s}
.w3-sidenav{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-sidenav a{padding:4px 2px 4px 16px}.w3-sidenav a:hover{background-color:#ccc}.w3-sidenav a,.w3-dropnav a{display:block}
.w3-sidenav .w3-dropdown-hover:hover,.w3-sidenav .w3-dropdown-hover:first-child,.w3-sidenav .w3-dropdown-click:hover,.w3-dropnav a:hover{background-color:#ccc;color:#000}
.w3-sidenav .w3-dropdown-hover,.w3-sidenav .w3-dropdown-click {width:100%}.w3-sidenav .w3-dropdown-hover .w3-dropdown-content,.w3-sidenav .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-main,#main{transition:margin-left .4s}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}.w3-closebtn{text-decoration:none;float:right;font-size:24px;font-weight:bold;color:inherit}
.w3-closebtn:hover,.w3-closebtn:focus{color:#000;text-decoration:none;cursor:pointer}
.w3-pagination{display:inline-block;padding:0;margin:0}.w3-pagination li{display:inline}
.w3-pagination li a{text-decoration:none;color:#000;float:left;padding:8px 16px}
.w3-pagination li a:hover{background-color:#ccc}
.w3-input-group,.w3-group{margin-top:24px;margin-bottom:24px}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #808080;width:100%}
.w3-label{color:#009688}.w3-input:not(:valid)~.w3-validate{color:#f44336}
.w3-select{padding:9px 0;width:100%;color:#000;border:1px solid transparent;border-bottom:1px solid #009688}
.w3-select select:focus{color:#000;border:1px solid #009688}.w3-select option[disabled]{color:#009688}
.w3-dropdown-click, .w3-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-top: 1px;
    right: 210px;
}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block;z-index:1 }
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:189px;margin:0;padding:0;top: 46px;}
.w3-dropdown-content a {
    padding: 6px 16px;
    display: block;
    font-weight: 400;
    color: black;
    font-size: 13px;

}
.w3-dropdown-content a:hover{background-color:#ccc}
.w3-accordion {width:100%;cursor:pointer}
.w3-accordion-content{cursor:auto;display:none;position:relative;width:100%;margin:0;padding:0}
.w3-accordion-content a{padding:6px 16px;display:block}.w3-accordion-content a:hover{background-color:#ccc}
.w3-progress-container{width:100%;height:1.5em;position:relative;background-color:#f1f1f1}
.w3-progressbar{background-color:#757575;height:100%;position:absolute;line-height:inherit}





/*---------------------Responsive------------------------*/
@media (max-width: 1199px){
    .navbar-nav.navbar-right:last-child {
        left: 0px;
    }
    li.bolsa {
    float: right;
    left: 9%;
    position: relative;
    color: black;
    font-weight: 400;
    padding-left: 6px;
    top: 18px;
    }
    .head-menu {
    width: 102.7%;
    border-top: 1px solid !important;
    border-bottom: 1px solid !important;
    left: -15px !important;
    position: relative !important;
}
}

@media (max-width: 991px) {
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .unidades{
        font-size: 10px;
        position: relative;
        left: 671px;
        width: 11%;
        height: 30px;
        top: 31px;
        padding-left: 63px;
        padding-top: 7px;
        background-size: 44%;
        background-repeat: no-repeat;
        background-position: right;
    }

    .huincha-header{
        position: fixed;
        left: -2%;
        z-index: 1;
        padding-left: 33px;
        width: 104%;
    }

    .categorias-movil{
        border-bottom: solid 1px black;
        border-top: solid 1px black;
        height: 38px;
    }

    .nombre-categorias-movil{
        position: relative;
        top: 5px;
        font-weight: bolder;
    }

    .lupa-movil{
        position: relative;
        left: -60px;
        top: -13px;
    }

    .movil-logo{
        position: relative;
        left: 250px;
    }

    .movil-menu{
        position: relative;
        float: left;
        border: none;
    }
    .fa-bars{
        font-size: 30px !important;
    }
    .cerrar-huincha{
        top: -26px;
        right: 8px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {
        display: block!important;
        overflow: scroll !important;
        max-height: 313px;
    }
    .img-bolsa {    
        width: 4%;
        position: relative;
        left: -1%;
        top: 13px;
        float: right;
        cursor: pointer;
    }
    .container {
        width: 100%;
    }

    .base-logo {
        width: 130px;
        height: 65px;
        background: transparent;
        -moz-border-radius: 100px / 50px;
        -webkit-border-radius: 100px / 50px;
        border-radius: 0% 0%;
        position: relative;
        left: 1%;
        top: -22px;
        margin-top: 7px;
        margin-right: 40px;
        
    }
    .dropdown-menu{
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.form-search {
    position: relative;
    right: 0px;
    width: 97%;
    height: 38px;
    left: 14px;
}
.img-lupa {
    width: 4%;
    position: relative;
    top: 0;
    left: 40px;
    cursor: pointer;
    float: right;
}

}
@media (max-width: 767px){
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    .dropdown-menu{
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .base-logo {
    width: 130px;
    height: 54px;
    background: transparent;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 0% 0%;
    position: relative;
    z-index: 200;
    left: 15%;
    margin-top: 2px;
}

input.busca.search {
    width: 83%;
    left: 14px;
    position: relative;
}

.form-search{
    right: inherit;
    width: 90%;
    left: inherit;
}

.logo {
    width: 132px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    margin-left: 0px;
    object-fit: scale-down;
    margin-top: 7px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 1px;
    width: 100%;
    display: inline-block;
}

.navbar-left {
    float: left!important;
    right: -15px;
    position: relative;
    width: 100%;
}

.img-bolsa {
    width: 4%;
    position: relative;
    left: -13px;
    top: 12px;
    cursor: pointer;
    float: right;
}

.fa-angle-down {
    font-size: 15px !important;
    position: relative;
    left: 1%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    max-height: 650px;
}

.img-lupa {
    width: 4%;
    position: relative;
    top: 0;
    left: 40px;
    cursor: pointer;
    float: right;
}
}

@media (max-width: 736px){
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        overflow: scroll;
        max-height: 320px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

@media (max-width: 667px)
{
    .navbar-collapse.collapse.in {
        display: block!important;
        overflow: scroll;
        max-height: 289px;
    }
}

@media (max-width: 568px){
    .navbar-collapse.collapse.in {
        display: block!important;
        overflow: scroll;
        max-height: 312px;
    }
}


@media (max-width: 414px){
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .fix-position{
        background: none;
    }

    .cerrar-huincha {
        top: -18px;
    }

    .base-logo {
        width: 200px;
        height: 53px;
        border-radius: 0%;
        position: relative;
        z-index: 200;
        left: 0%;
        margin-right: 0;
    }
    .movil-logo {
        position: relative;
        left: 66px;
    }

.logo {
    width: 150px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    margin-left: 0;
    object-fit: scale-down;
    margin-top: -6px;
}

.img-bolsa {
    width: 7%;
    position: relative;
    left: -13px;
    top: 18px;
    cursor: pointer;
    float: right;
}

.unidades{
    font-size: 10px;
    position: relative;
    left: 319px;
    width: 22%;
    height: 30px;
    top: 35px;
    padding-left: 75px;
    padding-top: 7px;
    background-size: 34%;
}

.img-lupa {
    width: 7%;
    position: relative;
    top: 37px;
    left: 29px;
    cursor: pointer;
    float: right;
}
}

@media (max-width: 400px){

    .nombre-categorias-movil{
        left: -11px;
    }

    .unidades{
        font-size: 10px;
        position: relative;
        left: 289px;
        width: 22%;
        height: 30px;
        top: 35px;
        padding-left: 68px;
    }

    .navbar-collapse.collapse.in{
        max-height: 312px;
    }
  .base-logo {
    width: 200px;
    height: 53px;
    border-radius: 0%;
    position: relative;
    z-index: 200;
    left: -12%;
    margin-right: 0;
}

}


@media (max-width: 360px){
    .navbar-collapse.collapse.in{
        max-height: 328px;
    }
    .base-logo {
    width: 200px;
    height: 53px;
    border-radius: 0%;
    position: relative;
    z-index: 200;
    left: 0%;
    margin-right: 0;
}

.logo {
    width: 150px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    margin-left: 0;
    object-fit: scale-down;
    margin-top: 0px;
}

}

@media (max-width: 320px){
.base-logo {
    width: 200px;
    height: 53px;
    border-radius: 0%;
    position: relative;
    z-index: 200;
    left: -30%;
    margin-right: 0;
    top: -26px;
}

.img-bolsa {
    top: 21px;
}

.unidades {
    font-size: 10px;
    position: relative;
    left: 244px;
    width: 23%;
    height: 30px;
    top: 32px;
    padding-left: 58px;
}

.textos-movil-menu{
    font-size: 12px;
}

.logo {
    width: 150px;
    position: absolute;
    display: block;
    margin: 0 auto;
    z-index: 1;
    margin-left: 0;
    object-fit: scale-down;
    margin-top: -1px;
}
.carousel-inner {
    height: 100px;
    top: 29px;
}

#slider-home {
    top: 10px;
    margin-top: -76px;
}

.texto-one {
    margin-top: 0px;
}


}