html * {
/*-webkit-font-smoothing: antialiased;*/
/*-moz-osx-font-smoothing: grayscale;*/

}

html, body {
/*font-family: 'Open Sans', sans-serif;*/
   font-family: 'Montserrat', sans-serif;
   margin: 0 auto;
   overflow-x:hidden;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:visited{
      color: black;
}

a:link{
      color: black;
}
.comprar-btn{
    position: relative;
    left: -10px;
    margin-top: 17px !important;
    margin-left: -4px !important;
    font-size: 10px !important;
}
.comprar-btn:hover{
    font-size: 10px !important;
}
.boton-comprar{
    position: relative;
    top: -60px;
}
.brand-color{
    color: #00e2bb !important;
    position: relative;
    top: -42px;
}
.precios-div{
    padding-left: 0;
}
.instagram:hover{
    content: url(https://cdn.loadingplay.com/static/images/e36294fb4924bedd1fd5463095bafb49_instagram_original.png);
}
.facebook:hover{
    content: url(https://cdn.loadingplay.com/static/images/cdb5924390e10c5f179c4a33e928a95c_facebook_original.png);
}
.div-index-1{
    height: 537px;
    padding-left: 0px;
}
.div-index-2{
    height: 537px;
    padding-left: 0px;
    padding-right: 0px;
}
.col-first{
    padding-left: 0px;
}
.col-sec{
    padding-right: 0px;
}
.link-banner{
    position: absolute;
    width: 95%;
    height: 49%;
}
.margen-titulo-logos{
    margin-left: 22px !important;
}
.link-banner-main{
    position: absolute;
    width: 100%;
    height: 100%;
}
.div-index-3{
    height: 537px;
    padding-right: 0px;
}
.image_little{
    padding-left: 0;
}
.text-prod-desk{
    background-color: #e9ffc6;
}
.cont-prefooter{
    background-color: #3eedff;
    width: 100% !important;
    height: 120px;
}
.contenido-productos{
    margin-bottom: 20px;
    margin-top: -94px;
    width: 1193px;
}
.contacto-btn {
    background: none;
    color: white;
    border: solid 2px white;
    position: relative;
    margin-bottom: 20px;
    top: 24px;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 40px 20px;
}
.texto-huincha-pre{
    font-family: 'Pacifico', cursive;
    color: white;
    position: relative;
    top: 43px;
    font-size: 20px;
    font-weight: 500;
}
.carousel-control.left{
    background-image: none !important;
}

.img-ambos{
    top: -60px !important;
}

.img-new{
    top: -40px !important;
}

.img-sale{
    top: -30px !important;
}

.letreros-detalle{
    position: relative;
    left: -216px;
    top: 20px;
}

.letrero-sale-detail{
    position: relative;
    left: 0px;
    font-size: 17px;
    text-align: center;
    padding: 2px;
    color: black;
    background-color: #d4ff67;
    width: 22%;
    border: solid 1px #d4ff67;
    z-index: 1;
}

.letrero-new-detail {
    z-index: 1;
    position: relative;
    left: 0px;
    top: 3px;
    font-size: 17px;
    text-align: center;
    padding: 2px;
    color: black;
    background-color: #3ae0bc;
    width: 22%;
    border: solid 1px #3ae0bc;
}

.letrero-sale {
    position: relative;
    left: 0px;
    font-size: 11px;
    text-align: center;
    padding: 2px;
    color: black;
    background-color: #d4ff67;
    width: 60px;
    border: solid 1px #d4ff67;
}

.letrero-new {
    position: relative;
    left: 0px;
    top: 3px;
    font-size: 11px;
    text-align: center;
    padding: 2px;
    color: black;
    background-color: #3ae0bc;
    width: 60px;
    border: solid 1px #3ae0bc;
}

.overlay-sale{
    top: 32px !important;
}

.overlay-new{
    top: 32px !important;
}

.fufi-new{
    top: -20px;
}

.overlay-ambos {
    top: 53px !important;
}

.fufi-sale{
    top: -22px;
}

.fufi-ambos {
    top: -41px;
}

.letreros {
    position: relative;
    top: 70px;
}

.carousel-control.right{
    background-image: none !important;
}
.ocultar-texto{
    overflow: hidden
}
a:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}


li{
    list-style: none;
}
.volver {
    float: left !important;
    background: rgba(0, 0, 0, 0.24) !important;
    /* font-size: 15px !important; */
    padding: 15px 11px !important;
    color: white !important;
    font-weight: 400;
    height: 51px;
    width: 31%;
    cursor: pointer;
}

.container.min{
    width: 1124px;
}

.def {
    float: left !important;
    background: rgba(154, 144, 71, 0.58) !important;
    font-size: 15px !important;
    padding: 15px 11px !important;
    color: white !important;
    font-weight: 600 !important;
    height: 51px;
    width: 31%;
    cursor: pointer;
}

img.editablelink {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1030 !important;
}

div.image-upload {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}

div.image-upload.par1 {
    position: absolute;
    right: 20px;
    top: 81px;
    z-index: 100000;
}
.nav>li>a {
    font-size: 13px;
}
.bot {
    height: 26px;
    width: 100%;
    text-align: center;
    position: relative;
    top: -27px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400; 
    color: rgba(84, 84, 84, 0.79);
}

.circulo-bajada {
    content: ' ';
    position: absolute;
    left: 50%;
    top: -34px;
    /* top: -182px; */
    width: 89px;
    height: 92px;
    background-color: white;
    border: 20px solid white;
    border-radius: 50%;
    z-index: 10;
    padding: 5px;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

/*.fa-chevron-circle-down {
    font-size: 48px !important;
    color: #6E6E6E;
    position: relative;
    bottom: -2px;
}
*/

.fa-angle-down {
    font-size: 15px !important;
    position: relative;
    left: 0%;
    float: right;
}


.texto-one{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color:black;
    margin-bottom: 4%;
    margin-top: -23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.box-chic{
    max-width: 250px;
    width: 100%;
    position: relative;
    height: 250px;
    object-fit: cover;
    filter: grayscale(0%) brightness(90%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    -ms-filter: grayscale(0%) brightness(90%);
    -o-filter: grayscale(0%) brightness(90%);
}

.article-box-2 {
    overflow: hidden;
    padding: 0px 8px;
    margin-bottom: 17px;
}

.text-box{
    position: absolute;
    bottom: 0px;
    width: 88%;
    color: white;
    font-size: 30px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.productos-titulos{
    margin-top: 26px;
}
.titulo-p{
    text-align: center;
}

.box-gra{
    width: 100%;
    position: relative;
    height: 260px;
    object-fit: cover;
}

section#first-page-scroll {
    margin-bottom: 15px;
}

.relleno-1{
    padding-right: 8px;
}
.relleno{
    padding-left: 8px;
}

.box-gra-peq {
    width: 100%;
    position: relative;
    height: 199px;
    object-fit: cover;
    margin-bottom: 10px;
}

.fondo-form {
    width: 100%;
    object-fit: cover !important;
    height: 400px;
    filter: grayscale(0%) brightness(90%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    -ms-filter: grayscale(0%) brightness(90%);
    -o-filter: grayscale(0%) brightness(90%);
    top: -1px;
    position: relative;
}

/*
.fondo-contact {
    width: 100%;
    height: auto;
}
*/
.align-form-contact {
    margin-top: 30px;
}

.text-intro-prov {
    margin-bottom: 45px;
    font-size: 21px;
    color: black;
    top: 15px;
    position: relative;
    font-weight: 400;
    margin-top: 20px;
    text-align: left;
    margin-left: 23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titulo-about {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 22px;
    width: 78%;
    padding-bottom: 12px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 35px;
    text-align: left;
}

.image-somos {
    display: block;
    width: 100%;
    height: 350px;
    margin-top: 80px;
    object-fit: scale-down;
}

.texto_quienes {
    font-size: 20px;
    color: #858993;
    text-align: left;
    margin-top: 84px;
    margin-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.texto_quienes-til {
    font-size: 20px;
    color: #858993;
    text-align:left;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 21px;
    padding-right: 21px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titulo-peq {
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 25px;
    width: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.image-somos-cir {
    display: block;
    width: 73%;
    height: 314px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 180px;
}

.overlay.us {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.38);
    border-radius: 166px;
}

div.image-upload.con {
    position: absolute;
    right: 20px;
    top: 86px;
    z-index: 100000;
}

.img-hed-1{
    float: right;
    width: 36px;
    position: relative;
    left: 0px;
    bottom: 9px;
}

.img-hed-2{
    float: right;
    width: 20px;
    position: relative;
    left: 5px;
    bottom: 1px;
}

.img-hed-3{
    float: right;
    width: 35px;
    border-radius: 10%;
    position: relative;
    left: 5px;
    top: 6px;
}

.full{
    width: 100%;
}
.rrss{
    float: right;
}
.editableimage{
    width: 100%;
}
.menu-opc{
    padding: 0 2%;
}
.carousel-inner{
    height: 400px;
}
.wd-100{
    width: 100%;
}

.menu-center{
    position: relative;
    right: 14%;
    width: 56%;
}
.opc-menu{
    padding-left: 3%;
    }

 /*para borrar despues*/ 
.temporal{ 
    position: relative;
    display: block;
    padding: 14px 4%;
    color: rgba(84, 84, 84, 0.79);
    font-weight: 500;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.rrss {
    position: absolute;
    right: 87px;
}
.pr-5{
    padding-right: 5%;
}
#slider-home{
    padding: 0;
    position: relative;
    top: 0px;
    margin-bottom: 65px;
    margin-left: 0;
    margin-right: 0;
}
.constr{
    position: relative;
    top: 90px;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-weight: 400;
    font-size: 1.4rem !important;
}

.btn-block {
    display: block;
    width: 33%;
    background-color: rgba(128, 128, 128, 0.62) !important;
    color: white;
    border-radius: 0px;
}

.btn-block:hover {
    display: block;
    width: 33%;
    background-color: white !important;
    color:rgba(128, 128, 128, 0.62);
    border: 1px solid rgba(128, 128, 128, 0.62) !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 0px;
}

.form-group {
    margin-bottom: 30px;
}

.pad0{
  padding: 0px 5px;
  overflow: hidden;
}

div.upload input, div.image-upload input {
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    margin-left: -15px;
    margin-top: 190px;
    font-size: 40px;
}
.carousel-control .fa-angle-right, .carousel-control .icon-next {
    margin-right: -15px;
    margin-top: 190px;
    font-size: 40px;
}


.texto-hu{
    position: absolute;
    bottom: 167px;
    color: white;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 22px;
    font-weight: 400;
}

 .texto-hu-2{
    position: absolute;
    bottom:70px;
    color: white;
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 22px;
    font-weight: 400;
}

.kop {
    margin-bottom: 45px;
    font-size: 17px;
    color: black;
    top: 15px;
    position: relative;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.texto-con {
    margin-bottom: 0px;
    position: relative;
    bottom: 0px;
    left: 0%;
    height: 150px;
    color: black;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 88%;
}

.map-mo{
    border: 0;
    height: 390px;
    bottom: 0px;
    position: relative;
    right: 38px;
}

.mar {
    margin-bottom: 23px;
    position: relative;
    bottom: 0px;
    left: 0%;
    color: black;
    font-weight: 400;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin-top: 57px;
}

.texto-tienda {
    margin-bottom: 0px;
    position: relative;
    bottom: 87px;
    left: 3%;
    height: 150px;
    color: rgba(128, 128, 128, 0.62);
    font-weight: 400;
    font-size: 15px;
}

.box-tienda {
    width: 100%;
    height: 272px;
    object-fit: contain;
    margin-bottom: 10px;
    padding-left: 18px;
    bottom: 24px;
    position: relative;
}

hr.tienda {
    margin-top: 20px;
    margin-bottom: 137px;
    border: 0;
    border-top: 1px solid #eee;
    right: 6px;
    position: relative;
}

.distrib-contact {
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight:400;
    margin-top: 23px;
    position: relative;
    right: 19px;
    color: rgba(128, 128, 128, 0.62);
}

.titulo-negrita{
    color: rgba(128, 128, 128, 0.62);
    font-weight: 400;
    margin-top: 32px;
    position: relative;
    right: 4px;
}
.titulo-claro{
    color: rgba(128, 128, 128, 0.62);
    font-weight: 400;
    position: relative;
    right: 4px;
}

hr.page-contact {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    right: 18px;
    position: relative;
}

.col-md-6 {
    margin-bottom: 26px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.remove-from-cart.fri {
    padding-left: 27px;
    cursor: pointer;
}
/*   ***[logos]***   */
.logo-editable{
  top: 65px !important;
  z-index: 1000 !important;
  right: inherit !important;
}
.logo-2{
  left: 180px;
}
.logo-3{
  left: 380px;
}

.logo-4{
  left: 580px;
}

.logo-5{
  left: 780px;
}

.logo-6{
  left: 930px;
}

.logo-7{
  left: 1100px;
}
.logo2{
  left: 15% !important;
}
.logo3{
  left: 30% !important;
}

.logo4{
  left: 45% !important;
}

.logo5{
  left: 60% !important;
}

.logo6{
  left: 75% !important;
}

.logo7{
  left: 90% !important;
}
.logos {
  padding: 2.9167rem 15px 5.4167rem 15px;
}

@media screen and (min-width: 768px) {
  .logos {
    padding: 2.1875rem 15px 4.0625rem 15px;
  }
}

.logos-titulo {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 4%;
    margin-top: -23px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

@media screen and (min-width: 768px) {
  .logos-titulo {
    font-size: 1.875rem;
    margin: 0px 290px 3.125rem 90px;
    width: 100%;
    text-align: left;
  }

  .logos-titulo-2 {
    font-size: 1.875rem;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
}

.logos-lista {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logos-lista {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3.125rem;
  }
}

.logos-item {
  margin: 1rem;
  max-width: 100px;
}

@media screen and (min-width: 768px) {
  .logos-item {
    margin: 0;
    width: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .logos-item {
    width: 20%;
    max-width: 100px;
    height: 20%;
    max-height: 100px;
    object-fit: scale-down;
    padding: 2px;
  }
}

@media screen and (min-width: 768px) {
  .logos-item:first-child {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .logos-item:first-child {
        width: 100px;
        max-width: 100px;
        height: 92px;
        max-height: 92px;
  }
}

/*   ***   /[logos]***   */

/*-----------------------------------------------Responsive--------------------------------------------------*/
@media (max-width:1199px){
    .container.min{
     width: 100%;
    }

}
@media (max-width: 1039px){

   .bot {
    top: -24px;
}
.carousel-inner {
    height: 370px;
}
}

@media (max-width: 1024px){

.carousel-inner {
    height: 370px;
}
.box-gra-peq {
    width: 100%;
    position: relative;
    height: 185px;
    object-fit: cover;
    filter: grayscale(0%) brightness(905%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    -ms-filter: grayscale(0%) brightness(90%);
    -o-filter: grayscale(0%) brightness(90%);
    margin-bottom: 10px;
}
.box-gra {
    width: 100%;
    position: relative;
    height: 380px;
    object-fit: cover;
    filter: grayscale(0%) brightness(90%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    -ms-filter: grayscale(0%) brightness(90%);
    -o-filter: grayscale(0%) brightness(90%);
}
}

@media (max-width: 991px){

    .div-index-1{
        top: 180px;
        padding-left: inherit;
        height: 400px;
    }

    .div-index-2{
        padding-left: inherit;
        padding-right: inherit;
        top: 180px;
        height: 400px;
    }

    .div-index-3{
        padding-right: inherit;
        top: 180px;
        height: 400px;
        margin-bottom: 28%;
    }

    .box-gra-peq {
    width: 100%;
    position: relative;
    height: 133px;
    object-fit: cover;
    filter: grayscale(0%) brightness(905%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    -ms-filter: grayscale(0%) brightness(90%);
    -o-filter: grayscale(0%) brightness(90%);
    margin-bottom: 10px;
}
.box-gra {
    width: 100%;
    position: relative;
    height: 276px;
    object-fit: cover;
    filter: grayscale(0%) brightness(90%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    -ms-filter: grayscale(0%) brightness(90%);
    -o-filter: grayscale(0%) brightness(90%);
}

.align-form-contact {
    padding-left: 0px;
    padding-right: 0px;
}

.menu-center{
    position: relative;
    right: 0;
    width: 0;
}
.opc-menu{
    padding-left: 0; 
}
.rrss {
    position: absolute;
    right: 120px;
    top: 10px;
}
.carousel-inner {
    height: 320px;
    margin-top: 70px;
}

.banner-movil{
    height: 208px !important;
    margin-top: 51px !important;
}

}

@media (max-width: 800px){
.contacto-btn {
    left: -47px;
}


    .carousel-inner {
    height: 270px;
    margin-top: 70px;
}
.d-o{
    left: 50px;

}
}

@media (max-width: 768px){
    .col-first{
        padding-left: inherit;
    }
    .relleno-1 {
        padding-right: inherit;
        margin-bottom: 23px;
    }
    .relleno {
        padding-left: inherit;
    }
    .col-sec {
        padding-right: inherit;
    }

    .logos-titulo{
        text-align: center;
        margin: 0px 290px 3.125rem auto;
    }

    .logos-mobile{
        height: 150px;
        left: 104px;
    }
}

@media (max-width: 767px){

    .div-index-1 {
        top: 30px;
        margin-bottom: 15%;
        margin-top: 77px;
    }

    .div-index-2{
        top: 54%;
        height: 260px;
        margin-top: 130px;
    }

    .div-index-3{
        top: 50px;
        margin-top: -13%;
        margin-bottom: 37%;
    }

    .contacto-btn {
        left: 76px;
    }
    .mar{
        margin-top: 0px;
    }
    .cont-prefooter{
        height: 180px;
    }
    .banner-movil{
    height: 203px !important;
    margin-top: 50px !important;
}
    .pad0 {
    padding: 6px 6px;
}
.carousel-inner {
    height: 270px;
    margin-top: 70px;
}

.box-gra-peq {
    width: 100%;
    position: relative;
    height: 199px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
    margin-bottom: 5px;
    margin-top: 16px;
}

.align-form-contact {
    padding-left: 14px;
    padding-right: 13px;
}

.image-somos-cir {
    display: block;
    width: 325px;
    height: 314px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 180px;
}

.map-mo {
    border: 0;
    height: 390px;
    bottom: 0px;
    position: relative;
    right: 0px;
    width: 100%;
}

.texto-con {
    margin-bottom: 100px;
    position: relative;
    bottom: 0px;
    left: 0%;
    height: 150px;
    color: black;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

}

@media (max-width: 700px){

.menu-center{
    position: relative;
    right: 0;
    width: 0;
}
.opc-menu{
    padding-left: 0; 
}

}


@media screen and (max-width: 700px){
    .bot {
    height: 53px;
}
.texto-huincha-pre {
    text-align: center;
}

}

@media (max-width: 500px){

    .primero{
        margin-top: 15% !important;
    }

    .texto-hu{
        bottom: 96px;
    }

    .hgi {
        margin-top: 6%;
    }

.constr{
    display: inline-block;
    top:120px;
    padding: 0 4%;
}
#slider-home{
    top:90px;
    margin-top: -126px;
}
.pr-5{
    padding-right: 0;
}

.texto-one {
    position: relative;
    /* top: 61px; */
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 4%;
    margin-top: 60px;
}
.carousel-inner {
    height: 126px;
}
.carousel-control .fa-angle-left, .carousel-control .icon-prev {
    margin-top: 50px;
}
.carousel-control .fa-angle-right, .carousel-control .icon-next {
    margin-top: 50px;
}
.banner-movil{
    height: 126px !important;
    margin-top: 40px !important;
    margin-bottom: -25px !important;
    }
}
@media (max-width: 456px){
    .modal-content {
        font-size: 11px;
    }
    .modal-body {
        position: relative;
        padding: 15px 0;
    }
}

@media (max-width: 436px){
    .bot {
    height: 70px;
}
 .temporal{
        padding-left: 7px;
    }

}


@media (max-width: 414px){
.image-somos-cir {
    display: block;
    width: 317px;
    height: 314px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 180px;
}

.logos-titulo{
    margin: 0px 0px 3.125rem auto;
}

.logos-titulo-2{
    text-align: center;
    margin-bottom: 15px;
}

.fondo-principal{
    height: 260px !important;
}

.logos-titulo{
    text-align: center;
}

.logos-mobile {
    height: 150px;
    left: 14px;
}

.box-gra{
    object-fit: cover;
    height: 164px;
}

.box-gra-peq{
    object-fit: contain;
}

}


@media (max-width: 412px){

.img-hed-3 {

    left: 0;
    top: 12px;
}

.rrss {

    right: 40px;
    /* left: 5px; */
    top: 69px;
}

}

@media (max-width: 400px){
    .bot {
    height: 80px;
}

.rrss {
    right: 40px;
    /* left: 5px; */
    top: 56px;
}

.contacto-btn{
    left: 0px;
}

.image-somos-cir {
    display: block;
    width: 303px;
    height: 300px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 180px;
}

}

@media (max-width: 375px){
    .image-somos-cir {
    display: block;
    width: 100%;
    height: 271px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 180px;
}

.logos-titulo-2{
    margin-top: 20px;
}

.logos-margen{
    margin-top: 0px !important;
}

}

@media (max-width: 320px){
    .contacto-btn {
        left: 0px;
        padding: 20px 87px 20px;
    }
    .logos-titulo-2 {
        margin-top: 41px;
    }

.img-hed-3 {
   
    top: 13px;
}
.d-o, .do-not {
    margin-bottom: 0;
}
.constr {
    display: inline-block;
    top: 93px;
}

.image-somos-cir {
    display: block;
    width: 100%;
    height: 236px;
    margin-top: 80px;
    object-fit: cover;
    border-radius: 180px;
}
.modal-body {
    position: relative;
    padding: 15px 0;
}
.modal-content {
    font-size: 10px;
}

}