<script type="text/template" id="product_template_home" class="hidden">
   <div class="clearfix-dos"> </div>
    <div class="col-md-3 col-sm-3 col-xs-6 art-hi">
      <div alig="center">
        <a href="{{ site_base }}/sc/product/detail/{{! name|friendly }}/{{! id }}">
          <div class="fufi">
            <img src="{{! images[0]['thumb_500'] }}" alt="" class="img-responsive img-pro" >
            <div class="overlay">
              <div class="text">COMPRAR</div>
            </div>  
            <p class="inf ellipsis multiline">{{! name }}</p>
            <div class="product-price-3">{{! main_price|money }} </div>
          </div>
        </a>
      </div>
    </div> 
  </div>      
</script>
