.container-minimo
{
    min-height: 660px;
}

@media screen and (max-width: 500px)
{
    .container-minimo
    {
<<<<<<< HEAD
        min-height: 300px;
=======
        min-height: 600px;
>>>>>>> 17f73bfa25fa3cd413b63a44515d7e04e1bcf9e6
    }
}
