/*doc

---
title: Principio del header
name: header.upper
category: header
---

```html_example
<div>
    <div class="col-md-12 col-sm-12 col-xs-12 huincha-header">
    <div class="editabletext col-md-10 col-md-10 col-xs-10 header-text-huincha" text-id="vitrineate2_head_1">
    <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras<br></p>
    </div>
    <button class="cerrar-huincha">X</button>
    </div>
    <div class="col-md-8 col-md-offset-2 text-center logo_wrapper navbar-brand">
        <a id="vitrineate2_logo" href="#">
            <div class="base-logo logo-desk">
                <img class="logo" id="vitrineate2_img_logo" src="https://cdn.loadingplay.com/static/images/500_a794344c7e7b2caf93993aff9f78e5aa__adbaafaeabd_logoextwebjpgpng.png" onload="this.onload='';this.src='https://cdn.loadingplay.com/static/images/500_a794344c7e7b2caf93993aff9f78e5aa__adbaafaeabd_logoextwebjpgpng.png'" alt="item">
            </div>
        </a>
    </div>
    <div class="col-md-2 head-logo">
    <li class="bolsa" id="open-cart" data-toggle="modal" data-target="#myModal">
    <span class="hidden-xs">CARRITO</span>
    <img class="img-bolsa" src="https://cdn.loadingplay.com/static/images/34b9602179fdac2bb493e006a8eac7a1_carrito.png">
    <div class="unidades hidden hidden-xs"></div>
    </li>
    </div>
    <div class="clearfix"></div>
</div>
```

principio del header en movil

```html_example
<div class="navbar-header navbar-header-movil page-scroll col-xs-12">
    <div class="col-md-4 text-left" >
        <button type="button" class="navbar-toggle movil-menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="col-md-4 text-center" >
        <a class="navbar-brand movil-logo" href="">
            <div>
                <div class="base-logo">
                    <img id="vitrineate2_img_logo" src="https://cdn.loadingplay.com/static/images/500_a794344c7e7b2caf93993aff9f78e5aa__adbaafaeabd_logoextwebjpgpng.png" class="img-responsive logo" alt="item">
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 text-left" >
        <li class="bolsa-movil" id="open-cart" data-toggle="modal" data-target="#myModal">
            <!-- <a href="" class="com"> Comprar </a> -->
            <img class="img-bolsa" src="https://cdn.loadingplay.com/static/images/34b9602179fdac2bb493e006a8eac7a1_carrito.png">
            <div class="unidades hidden"></div>
        </li>
        <li class="lupa-movil">
            <input class="img-lupa img-lupa-movil" type="image" src="https://7static.loadingplay.com/static/images/1da6ee373afe0e65ad1b94c0d7cd9e9d_Vector_search_iconclaro.png" border="0" />
        </li>
    </div>
</div>
<div class="clearfix"></div>
```
*/

.huincha-header
{
    background-color: #d7ff3e;
    height: auto;
    min-height: 30px;
}

.header-text-huincha
{
    position: relative;
    top: 4px;
}

.cerrar-huincha
{
    float: right;
    background: none;
    border: solid 1px;
    top: 2px;
    position: relative;
}

.head-logo
{
    height: 40px;
}

li.bolsa
{
    float: right;
    position: relative;
    color: black;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 15px;
}

.logo
{
    width: 124px;
}

.img-bolsa
{
    height: 25px;
    position: relative;
    left: 15%;
    cursor: pointer;
}

.fix-position
{
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.unidades
{
    font-size: 10px;
    position: relative;
    left: 88px;
    width: 22px;
    height: 22px;
    top: -7px;
    padding-left: 10px;
    padding-top: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: #d6ff3e;
    box-shadow: -2px 0px #88888866;
}

.navbar-header li
{
    list-style: none;
}

input.img-lupa.img-lupa-movil
{
    height: 25px;
}

button.navbar-toggle.movil-menu
{
    float: left;
    margin: 0px;
}

.navbar-header-movil .navbar-brand
{
    float: none;
}

a.navbar-brand.movil-logo
{
    width: fit-content;
    height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.navbar-header-movil .img-bolsa
{
    height: 25px;
}

.navbar-header-movil .bolsa-movil,
.navbar-header-movil li.lupa-movil
{
    float: right;
    padding-top: 11px;
}

.bolsa-movil
{
    padding-top: 8px;
}

.navbar-header-movil li.lupa-movil
{
    margin-right: 15px;
}

.navbar-header.navbar-header-movil.page-scroll.col-xs-12,
.navbar-header.navbar-header-movil.page-scroll.col-xs-12 .col-xs-4,
.navbar-header.navbar-header-movil.page-scroll.col-xs-12 .col-xs-4,
.navbar-header.navbar-header-movil.page-scroll.col-xs-12 .col-xs-4
{
    padding: 0px;
}

.navbar
{
    margin-bottom: 0px;
}

.forma-movil
{
    top: 0px;
    padding: 5px;
    width: 100%;
    display: block;
    float: none;
}

.forma-movil input
{
    width: 100%;
}

/**  this code center in ipad with safari */
img#vitrineate2_img_logo.img-responsive.logo
{
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 991px)
{
    .img-bolsa {
        width: 100%;
        left: 0px;
        width: auto;
    }

    .navbar
    {
        min-height: 0px;
    }

    .menu-safari
    {
        margin: 0px;
    }

    .unidades
    {
        width: 18px;
        border-radius: 10px;
        height: 18px;
        font-size: 8px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 4px;
        top: -10px;
        left: 8px;
        z-index: 11;
        text-align: center;
    }

}

@media (max-width: 768px)
{
    .img-bolsa {
        z-index: 9;
    }

    .logo {
        top: 0px;
        position: relative;
    }
    .huincha-header
    {
        left: -2%;
        z-index: 1;
        width: 104%;
        padding-left: 6px;
    }
}

@media (max-width: 767px)
{
}

@media (max-width: 320px)
{
    input.img-lupa.img-lupa-movil,
    .navbar-header-movil .img-bolsa
    {
        height: 19px;
    }

    .navbar-header-movil li.lupa-movil
    {
        margin-right: 12px;
    }

    li.lupa-movil
    {
        margin-top: 2px;
    }
}
