.titulo{
    position: absolute;
    width: 96%;
    text-align: center;
    bottom: 0px;
    margin-bottom: 11px;
    color: white;
    font-weight: 400;
    font-size: 29px;
    /* font-family: Thaoma,Verdana,sans-serif; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: auto;
}

.bajada{
    font-size: 22px;
    margin-top: 66px;
    margin-bottom: 9px;
    color: black;
    font-weight: 400;
    text-align: center;
    width: 80%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mini-articulos {
    height: 285px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 66px;
    margin-top: 56px;
    position: relative;
    left: -11px;
}

.article-box
{
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    left: 13px;
}

.article-box .content {
    position: relative;
    overflow: hidden;
}

.article-box .img-1
{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}


.article-box:nth-child(4n+2) 
{
    width: 50%
}

.article-box:nth-child(4n+3),
.article-box:nth-child(4n+4) 
{
    height: 190px;
}


.article-box:nth-child(4n+3) .di,
.article-box:nth-child(4n+4) .di 
{
    line-height: 190px;
}

/*--------articulos nuevos------*/


.col-md-12:nth-child(even)>.zig{
    float: right;
    left: -31px;
    margin-top: 18px;
}

.col-md-12:nth-child(even)>.lef{
    margin-top: 17px;
    width: 47%;
   /* left: -192px;*/
    left: -74px;
}

.col-md-12:nth-child(3n)>.zig{
    margin-top: 15px;
}

.col-md-12:nth-child(3n)>.lef{
    margin-top: 7px;
}

.spa{
   margin-top: 50px;
}

.tres{
    font-size: 23px;
    position: relative;
    left: 63px;
    width: 90%;
    margin-top: 57px;
    font-weight: 400;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cuatro{
    font-size: 16px;
    position: relative;
    left: 65px;
    width: 85%;
    font-weight: 400;
    height: 150px;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.di{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
}

.box-4{
    position: relative;
    overflow: hidden;
    height: 400px;
}

.box-4 .mask{
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.box-4:hover .mask{
    opacity: 1;
}
.img-1 {
    height: 479px;
    object-fit: cover;
    width: 148%;
}

.btn-outline {
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    background: rgba(68, 64, 64, 0.58);
    color: white;
    border: 2px solid white;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}


.btn-outline:hover{
    font-size: 12px;
    cursor: pointer;
    padding: 0 35px;
    line-height: 41px;
     margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    outline: none;
    background: rgb(255, 255, 255);
    color: #505050;
    border: 2px solid #505050;
    border-radius: 0;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    vertical-align: middle;
    display: inline-block;
}

.til-ban{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 89px;
    color: white;
    font-weight: 400;
    font-size: 30px;
    left: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dan{
    text-align: left;
    font-size: 17px;
    color:black;
    margin-bottom: 48px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.especial{
    color: #777;
    font-weight: 400;
    font-size: 27px;
    margin-top: 0;
    width: 100%;
}

.fin-art {
    position: relative;
    top: -134px;
    margin-bottom: 90px;
    font-size: 28px;
    font-weight: 400;
    color: black;
    width: 50%;
    margin-top: 209px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr.len {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid gray;
    width: 58%;
    position: relative;
    top: -212px;
}

.fin-art-2{
    position: relative;
    top: -203px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: black;
    width: 72%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cont-rel{
    margin-right: 19px;
    margin-left: -28px;
}

a.lok {
    float: left;
    position: relative;
    top: 0px;
    color:black;
    text-align: left;
    left: 66px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.h2-art{
    color: rgba(132, 132, 132, 0.62);
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
}
._2cuy._3dgx._2vxa{
    width: 100% !important;
}
/*----------------------------------------Responsive---------------------------*/

@media (max-width: 1200px){
    .titulo {
    position: absolute;
    width: 94%;
    font-size: 24px;
}

}

@media (max-width: 991px){
.mini-articulos {
    height: 397px;
    width: 100%;
    left: 0px;
}

.tres {
    font-size: 33px;
    position: relative;
    left: 0px;
    width: 100%;
    margin-top: 39px;
}

.cuatro {
    font-size: 20px;
    position: relative;
    left: 0px;
    width: 100%;
}

.titulo {
    position: absolute;
    width: 93%;
    font-size: 22px;
}

.col-md-12:nth-child(even)>.zig {
    float: right;
    left: 0px;
    margin-top: -208px;
    margin-bottom: -93px;
}

.col-md-12:nth-child(even)>.lef {
    width: 100%;
    /* left: -192px; */
    left: -5px;
    margin-top: 100px;
    margin-bottom: -172px
}

.col-md-12:nth-child(3n)>.lef {
    margin-top: 18px;
    margin-bottom: 35px;
}

.article-box {
    padding: 0px 0px 10px 0px;
    margin-top: 135px;
    left: -6px;
}

}

@media (max-width: 859px){
.mini-articulos {
    height: 397px;
    width: 100%;
    left: -2px;
}

}

@media (max-width: 800px){
    .article-box {
    padding: 0px 61px 10px 28px;
}

.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 88%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 767px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 18px;
}

.blog-content img {
    width: 100% !important;
     object-fit: contain !important;
}


}

@media (max-width: 700px){


.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 87%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 650px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 86%;
    opacity: 0;
    position: absolute;
    top: 0px;
}
.til-ban {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 80%;
    margin-bottom: 57px;
    color: white;
    font-weight: 400;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.banner-movil-det-art{
    height: 132px !important;
    background-size: cover;
    margin-top: -1px;
    filter: grayscale(0%) brightness(70%) !important;
    -webkit-filter: grayscale(0%) brightness(70%) !important;
    -moz-filter: grayscale(0%) brightness(70%) !important;
    -ms-filter: grayscale(0%) brightness(70%) !important;
    -o-filter: grayscale(0%) brightness(70%) !important;
}
}

@media (max-width: 320px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 85%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 600px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 85%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 570px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 84%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 560px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 17px;
}
.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 84%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 540px){
.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 83%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 500px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 82%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 482px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 16px;
}

}

@media (max-width: 480px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 82%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 460px){
 .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 80%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 440px){
.box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 79%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 436px){
    .titulo {
    position: absolute;
    width: 93%;
    font-size: 14px;
}

}

@media (max-width: 414px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 78%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}


@media (max-width: 400px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 77%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

.fin-art {
    position: relative;
    top: -134px;
    margin-bottom: 90px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.66);
    width: 79%;
    margin-top: 209px;
}

}

@media (max-width: 397px){
    .titulo {
   margin-bottom: : 0px;
}

}

@media (max-width: 397px){
    .titulo {
   margin-bottom: : 7px;
}

}

@media (max-width: 375px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 76%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 350px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 74%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media (max-width: 320px){
    .box-4 .mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 72%;
    opacity: 0;
    position: absolute;
    top: 0px;
}

}

@media all and (max-width: 992px){
    .article-box 
    {
        padding: 0px 0px 10px 10px;
    }


    .article-box:nth-child(4n+3),
    .article-box:nth-child(4n+4) 
    {
        height: 400px;
    }

    .article-box:nth-child(4n+3) .di,
    .article-box:nth-child(4n+4) .di 
    {
        line-height: 400px;
    }

    .article-box:nth-child(4n+2) 
    {
        width: 100%;
    }

}


@media all and (max-width: 700px){
 /*   .article-box 
    {
        padding: 0px 10px 10px 10px;
    }*/
.article-box {
    padding: 0px 48px 10px 43px;
    left: 0px;
}

}
