{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block scripts %}
{% end %}

{% block header %}
{% include '../home/inside_header.html' %}
{% end %}



{% block body %}
    <div id="wrap">
        <h2>
            {% if not(tagsonly) %}
                {% try %}
                    {{ search_query }}
                {% except %}{% end %}
            {% else %}
                <h1 {% if is_admin %}class="editabletext" text-id="me-{{ page_uri }}"{% end %} >
                    {{ read_text('me-'+ page_uri) }}
                </h1>
            {% end %}
        </h2>
        <!-- registration -->
        <div class="container-fluid productlist">
            <!-- raw 1 -->
            <div class="row">
                {% set box_counter = 1 %}
                {% set box_index = 0 %}
                {% for cnt in results %}
                    <div class="col-sm-4 sobre-botones caja-m">
                    {% if cnt["content_type"] == "article" %}
                        {% include '../content/content_box/box_m_article.html' %}
                    {% elif cnt["content_type"] == "event" %}
                        {% include '../content/content_box/box_m_event.html' %}
                    {% elif cnt["content_type"] == "banner" %}
                        {% include '../content/content_box/box_m_banner.html' %}
                    {% elif cnt["content_type"] == "profile" %}
                        {% include '../content/content_box/box_m_profile.html' %}
                    {% elif cnt["content_type"] == "gallery" %}
                        {% include '../content/content_box/box_m_gallery.html' %}
                    {% elif cnt["content_type"] == "product" %}
                        {% include '../content/content_box/box_m_product.html' %}
                    {% end %}
                    </div>
                    {% set box_index += 1 %}
                {% end %}
            </div>
            <div class="carritoproductos clearfix">
                <div class="flecha clearfix">
                </div>
            </div>
        </div>
    </div>
{% end %}