{% extends "../base.html" %}
{% block title %}
    {{ site.name }}
{% end %}
{% block css %}
<link href="{{ site_base }}/static/js/lightGallery/dist/css/lightgallery.css" rel="stylesheet">
{% end %}
{% block javascript %}
    <!-- archivos para galería -->
    <script type="text/javascript" src="{{ site_base }}/static/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <script type="text/javascript" src="{{ site_base }}/static/js/dist/jquery.fancybox.js?v=2.1.5"></script>
    <script src="{{ site_base }}/static/js/lightGallery/dist/js/lightgallery.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
        $("a#single_image").fancybox();
        $('.fancybox').fancybox();
        $("#lightgallery").lightGallery({ cssEasing: 'cubic-bezier(0.250, 0.100, 0.250, 1.000)'}); 
        $("#home").css("text-align", "left");
        });

    </script>
    <script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

        var base_url = $.environmentVar(
          /*'https://apibodegas.ondev.today/',*    <- para poder probar en ondev*/ 
          'https://apibodegas.loadingplay.com/',
          'https://apibodegas.loadingplay.com/',
          'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
          /*'https://lpcheckout.ondev.today/',    <- para poder probar en ondev*/ 
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com');
        var app_public = $.environmentVar(69,69,69);
        var site_name = $.environmentVar('vitrineate', 'vitrineate', 'vitrineate');
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 10,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };
         $(document).ecommerce({
       'app_public' :  app_public,
       'animation' : 'simple',
       'base_url' : base_url,
       'checkout_url' :  checkout_url,
       'products_per_page' : 9
     });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
    <!-- archivos para galería -->
{% end %}
{% block header %}
{% include '../home/header.html' %}

{% end %}
{% block body %}

<div class="container min">
<section>
       <div style="position: relative;" class="">
                    <img class="banner_gallery"src="{{ gallery.getImageList()[0]["thumb_500"] }}" class="img-responsive" data-original="{{ gallery.getImageList()[0]["thumb_500"] }}" alt="item">
                    
                    <div align="center">
                       <div class="col-md-12">
                        <div class="box-text-gal"></div>
                       <h1 class="t-2 text-center">
                         {{ gallery.title }}
                      </h1>
                      </div>
                    </div>
        </div>
</section>
</div>

        <!-- registration -->
        <div class="container min cart-list productlist" id="first-page-scroll">
     <!--        <div class="row"> --> 
                <div class="col-sm-12 blog-content">
                    <article>
                        <header class="box">
                           <h1 class="h1-art text_title_galer">
                                {{ gallery.caption }}
                            </h1>
                        </header>
                        <!-- <div class="post-date" style="text-align:left;">
                            25 de may 2015 
                        </div> -->

                        <div class="content articulo-text" style="text-align:left;">
                            <div class="row">
                                <div class="col-sm-12 t-3">
                                    <p class="p-art">
                                        {{ gallery.description }}
                                    </p>
                                </div>
                            </div>
        </div>
    </div>
                            <!-- galeria -->

        <div class="container-fluid">                    
                            <div class="row">
                                <div class="text-center">
                                    <div class="col-sm-12 especial">
                                        <ul id="lightgallery" class="list-unstyled row" >
                                        {% for i in gallery.getImageList() %}
                                            <li class="col-md-4 text-center height-product article-img" data-responsive="{{ i["thumb_200"] }},{{ i["thumb_500"] }}" data-src="{{ i["thumb_500"] }}" data-sub-html="">
                                                <a href="">
                                                    <div class="container_galeria">
                                                    <img class="img-responsive img-gallery mover" src="{{ i["thumb_500"] }}">

                                                    </div>
                                                </a>
                                            </li>
                                        {% end %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- fin galeria -->
                            <div class="row">
                                <div class="col-sm-12 especial">
                                    
                                </div>
                            </div>
                            <div class="row">
                             
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3 blog-sidebar">
                    <div class="widget" style="text-align:left;">
                    </div>
                </div>
      <!--       </div> -->
            </div>
            
            <!-- row 4 -->
        


    <!-- script para galería -->
{% include '../home/footer.html' %}
{% end %}
