{% extends "../base.html" %}


{% block header %}
{% include '../home/header.html' %}
{% end %}


{% block javascript %}
<script async defer 
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6EMDzcxYGCZ_8r-PUoUAFP06IA87KhGI&callback=initMap"
 type="text/javascript"></script>
<script type="text/javascript">

    //Expresión para validar un correo electrónico
        var expr = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/;
        //Expresión para validar edad de 18 a 60 años
        var expr2 = /^1[8-9]|[2-5]\d|60$/;
        $(document).ready(function(){
            //función click
            $("#bEnviar").click(function(){

                //Guardar en variables el valor que tengan las cajas de texto
                //Por medio de los id's
                //Y tener mejor manipulación de dichos valores
                var nombre = $("#itNombre").val();
                var correo = $("#itMail").val();
                var asunto = $("#itComentario").val();

                var error_count = 0;
 
                // --- Condicionales anidados ----
                //Si nombre está vacío
                //Muestra el mensaje
                //Con false sale de los if's y espera a que sea pulsado de nuevo el botón de enviar
                if(nombre == ""){
                    $("#itNombre").parents(".form-group").addClass("has-error");
                    $(".help-nombre").removeClass('hidden');
                    error_count += 1;
                }
                //en otro caso, el mensaje no se muestra
                else{
                    $("#itNombre").parents(".form-group").removeClass("has-error");
                    $(".help-nombre").addClass('hidden');
                }

                //Si correo está vacío y la expresión NO corresponde -test es función de JQuery
                //Muestra el mensaje
                //Con false sale de los if's y espera a que sea pulsado de nuevo el botón de enviar
                if(correo == "" || !expr.test(correo)){
                    $("#itMail").parents(".form-group").addClass("has-error");
                    $(".help-mail").removeClass('hidden');
                    error_count += 1;
                }
                else
                {
                    $("#itMail").parents(".form-group").removeClass("has-error");
                    $(".help-mail").addClass('hidden');
                }


                if(asunto == ""){
                    $("#itComentario").parents(".form-group").addClass("has-error");
                    $(".help-comentario").removeClass('hidden');
                    error_count += 1;
                }
                else
                {
                    $("#itComentario").parents(".form-group").removeClass("has-error");
                    $(".help-comentario").addClass('hidden');
                }

                if (error_count > 0)
                {
                    return false;
                }
 
            });//click
        });//ready
</script>
<script type="text/javascript" src="{{ site_base }}/static/js/frubik.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();
      // base_url 'http://localhost:8520/'
      // checkout_url 'http://localhost:8522/'
        
        var base_url = $.environmentVar(
          /*'https://apibodegas.ondev.today/',*    <- para poder probar en ondev*/ 
          'https://apibodegas.loadingplay.com/',
          'https://apibodegas.loadingplay.com/',
          'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
          /*'https://lpcheckout.ondev.today/',    <- para poder probar en ondev*/ 
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com');
        var app_public = $.environmentVar(69,69,69);
        var site_name = $.environmentVar('vitrineate', 'vitrineate', 'vitrineate');
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'checkout_url': checkout_url,
            'products_per_page' : 10,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : false,
            'infinite_scroll': false,
            'onLoad':function(){
               $(".ellipsis").dotdotdot();
             }
        };
        $('.products').ecommerce(config);

        //  $(document).ecommerce({
        //     'app_public' : app_public,
        //     'animation' : 'simple',
        //     'base_url' : base_url,
        //     'checkout_url' : checkout_url,
        //     'products_per_page' : 9
        // });

        

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
{% end %}


{% block css %}
<link type="text/css" rel='stylesheet' href="{{ site_base }}/static/css/page.edit.css" />
<style type="text/css">
    .controls input, .controls textarea
    {
        padding: 10px 16px;
    }
</style>
{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}



<div class="container min">
<section>
    <div class="mobile" style="background:url('{{ read_image(site.name + '_con',500) }}'); height:400px; background-size:cover; margin-top: 0px;  filter: grayscale(0%) brightness(65%); -webkit-filter: grayscale(0%) brightness(65%); -moz-filter: grayscale(0%) brightness(65%); -ms-filter: grayscale(0%) brightness(65%);-o-filter: grayscale(0%) brightness(65%); background-position:center;" data-img-width="1600" data-img-height="1064" data-diff="100">
        {% if is_admin %}
        <div class="image-upload part1 lapiz visible-movil">
            <label for="img_con">
                <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
            </label>
            <input type="file" class="editableimage" image-id="{{ site.name }}_con" name="image" id="img_con" >
        </div>
        {% end %}
        <img id="{{ site.name }}_con" src="{{ read_image(site.name + '_con', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_con',500) }}'" class="banner_uno_list hidden" alt="item">
    </div>
</section>
</div>

<div class="container min">

<div class="img-mobilee" style="position: relative;">
        <div class="container min">
           <div class="col-md-12">
               <h3 class="distrib-contact {{editabletext}}" text-id="{{ site.name + '_ti_con' }}"> {{ read_text(site.name +  '_ti_con') }}</h3>
               <hr class="page-contact">
            </div>
        </div>
</div>
</div>

    <!-- fin editar imagen -->
            
            <div class="container min contact product text-left  fondo-contact" style="display: inherit;">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                <div class="row">       

                <div class="container min">

                    <div class="col-xs-12 col-md-4 col-sm-12">
                        <div class="titulo-negrita {{editabletext}}" text-id="{{ site.name + '_h_contact' }}"> {{ read_text(site.name +  '_h_contact') }}
                        </div>
                         <div class="titulo-claro {{editabletext}}" text-id="{{ site.name + '_h_contact_2' }}"> {{ read_text(site.name +  '_h_contact_2') }}
                        </div>
                    </div>  
                    <div class="col-xs-12 col-md-8 col-sm-12 align-form-contact fondo-contact">

                        <div>
                        <form action='https://forms.zohopublic.com/sytes/form/vitrineatecontacto/formperma/gd2n9Gq3QkFeLBi24n-oyiyKAA5wUx-uROmc7cxU1C0/htmlRecords/submit' name='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12">
                                <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <div class=" controls">
                                            <input name="Name_First" placeholder="Tu nombre" class="form-control input-lg requiredField" type="text" id="itNombre" data-error-invalid="Invalid email address" data-error-empty="Ingrese nombre">
                                        </div>
                                        <span id="helpBlock2" class="hidden help-block help-nombre">Tu nombre</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div class=" controls">
                                            <input name="Email" placeholder="Tu Email" class="form-control input-lg requiredField" type="email" id="itMail" data-error-invalid="Invalid email address" data-error-empty="Ingrese email">
                                            <input type="hidden" name="subject" value="contactanos" />
                                        </div>
                                        <span id="helpBlock3" class="hidden help-block help-mail">Email</span>
                                    </div>
                                </div>  
                            </div>  
                            <div class="form-group">
                                <label class="control-label">Mensaje</label>
                                <div class="controls">
                                    <textarea name="MultiLine" placeholder="Escribe tu mensaje" class="form-control input-lg requiredField" id="itComentario" rows="5" data-error-empty="Ingrese mensaje"></textarea>
                                </div>
                                <span id="helpBlock4" class="hidden help-block help-comentario">Escribe tu Mensaje</span>
                            </div>
                            <p><button name="submit" id="bEnviar" type="submit" class="btn btn-store btn-block contact" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Email Sent">Enviar mensaje </button></p>
                            <input type="hidden" name="submitted" id="submitted3" value="true">
                        </form> 
                        </div>
                     </div>
                    </div>      
                </div>  
            </div>
    </div>
</div>

    <div style="margin-bottom:50px;"></div>


{% include '../home/footer.html' %}     
{% end %}
