<div class="form-group required">
    <label class="control-label">Agrega la foto</label>
    <div class="form-added-image">     
         <i class="icon-remove" ></i>
        <img src="" class="image-preview" />
    </div >
    <div class="form-add-image">
        <i class="icon-plus icon-generic"></i>
        <input type="file" name="image" lp-image-loader class="form-input-hided" />
    </div>

    <div class="clearfix" ></div>
    <div for="image" class="error g-alert" >Imagen no válida</div>
</div>