<!doctype html>
<html>
    <head>
        <!-- head bt inicio -->
        <title>VITRINEATE PRÓXIMAMENTE</title>
        <base href="{{ site_base }}/">
        <meta charset="utf-8">
        <meta name="description" content="Desarrollado por loadingplay">
        <meta name="author" content="loadingplay.com">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css">

        <!-- autocomplete -->
        {% block css %}{% end %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- header -->
        {% block header %}{% end %}
        <!-- /header -->

        <!-- body -->
        {% block body %}{% end %}
        <!-- /body -->

        <!-- bt inicio -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- bt fin -->

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/environment.detection.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bodegas/dist/bodegas.client.js"></script>

        {% if is_admin %}
        <script type="text/javascript">
            var site_name = "{{site.name}}";
            {% from tornado.options import options %}
            var site_base = "{{ site_base }}";
            var content_manager_url = "{{ options.content_manager_url }}";
        </script>

        <script type="text/javascript" src="{{ site_base }}/common/js/contentmanager.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.editable.js" ></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editabletext.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editableimage.js"></script>
        {% end %}

        {% block scripts %}{% end %}
    </body>
</html>
