{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/inside_header.html' %}
{% end %}

{% block header_title %}{{ client_name }}{% end %}

{% block scripts %}
{% end %}

{% block body %}
    <div id="wrap">
        <!-- registration -->
        <div class="container-fluid productlist">
            <!-- raw 1 -->
            <div class="row">

            </div>
            <div class="carritoproductos clearfix">
                <div class="flecha clearfix">
                </div>
            </div>
        </div>
    </div>
{% end %}