<div {% if box_counter != 0 %}data-sr{% end %} class="col-sm-12 sobre-botones caja-xl cont-rel-product box-display">
    <div box-id="{{ box_index }}" class="img-drag-to" style="float: left; width: 100%; height: 100%; position: absolute; z-index: 1; display: none;"><img src="https://static.loadingplay.com/static/images/500_8005b0a91f6f679934f6ee6f8ba43c18_move-here2.png" style="width: 100%;"></div>
    <div class="cont-modifi" >
        {% include box_menu.html %}
        <a href="{{ site_base }}/product/detail/{{ friendlyURL(cnt["title"]) }}/{{ cnt["id"] }}" >
            <div class="cont-boxes" style="background:url('{{ cnt["thumb_1"] }}')" >
                <div class="box-product">
                    <div class="vertical-center-cont">
                        <div class="horizontal-center-cont"> 
                            <div class="box-product-info">
                                <h2>{{ cnt["title"] }}</h2>
                                <button class="box-product-button">comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{{ cnt["thumb_1"] }}" thumb="{{ cnt["thumb_1"] }}" data-original="{{ cnt["thumb_500"] }}" class="lazy " alt="item" />
            </div>
            <span class="productlist-price-container">
            <span class="product-price">
              <span class="price">{{ cnt["price"] }}</span>
            </span>
          </span>
        </a>
     </div>
{% if is_admin %}{% include box_edit_menu.html %}{% end %}
</div>