<div {% if box_counter != 0 %}data-sr{% end %} class="col-sm-12 sobre-botones caja-m cont-rel-art box-display" cnt-id="{{ cnt["id"] }}">
    <!--img src="{{ cnt["thumb_1"] }}" style="width: 40%; z-index: 4000; position: relative; left: 50%"/-->
    <div box-id="{{ box_index }}" class="img-drag-to" style="float: left; width: 100%; height: 100%; position: absolute; z-index: 1; display: none;"><img src="https://static.loadingplay.com/static/images/500_8005b0a91f6f679934f6ee6f8ba43c18_move-here2.png" style="width: 100%;"></div>
    <div class="cont-modifi" style="background:url('{{ cnt["thumb_1"] }}')" >
        {% include box_menu.html %}
        <a href="{{ site_base }}/article/detail/{{ friendlyURL(cnt["title"]) }}/{{ cnt["id"] }}" class="cont-princ-boxes">
            <div>
                <div class="box-art">
                   <div class="vertical-center-cont"> 
                        <!-- estas clases se pueden usar para justificar el texto a la derecha o ala izquierda -->
                        <div class="right-just">
                            <h2>{{ cnt["title"] }}</h2>
                        </div> 
                    </div>
                </div>
                <img src="{{ cnt["thumb_1"] }}" thumb="{{ cnt["thumb_1"] }}" offsetx="{{ cnt["offset_x"] }}" offsety="{{ cnt["offset_y"] }}" data-original="{{ cnt["thumb_500"] }}" class="lazy " alt="item" />
            </div>
        </a>
    </div>
{% if is_admin %}{% include box_edit_menu.html %}{% end %}
</div>