{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
 {% include '../home/header.html' %}
{% end %}


{% block css %}
<link href="https://fonts.googleapis.com/css?family=Lato" type="text/css"/>
{% if is_admin %}
<link rel="stylesheet" href="{{ site_base }}/static/css/textbox_io.css" type="text/css">
<link rel="stylesheet" href="{{ site_base }}/static/css/detalle_articulos.css?25">
<script type="text/javascript" src="{{ site_base }}/static/js/article/detail.js"></script>
{% end %}
<style type="text/css">

      @media screen and (max-width: 700px){
        .ol{
          visibility: hidden;
        }
      
        .franja-color{
            background: transparent;
        }
    }


</style>
{% end %}

{% block javascript %}
<script type="text/javascript" src="{{ site_base }}/static/js/dermatologia.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {

      $("#OpenAlert").click();

        
        var base_url = $.environmentVar(
          /*'https://apibodegas.ondev.today/',*    <- para poder probar en ondev*/ 
          'https://apibodegas.loadingplay.com/',
          'https://apibodegas.loadingplay.com/',
          'https://apibodegas.loadingplay.com/');
        var checkout_url = $.environmentVar(
          /*'https://lpcheckout.ondev.today/',    <- para poder probar en ondev*/ 
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com',
          'https://pay.loadingplay.com');
        var app_public = $.environmentVar(69,69,69);
        var site_name = $.environmentVar('vitrineate', 'vitrineate', 'vitrineate');
        var config = {
            'app_public' : app_public,
            'base_url' : base_url,
            'maxProducts' : 10,
            'templateOrigin' : '#product_template',
            'tag' : '',
            'ignore_stock' : true,
            'onLoad':function(){
               // $('.ellipsis').ellipsis();
               // $(".ellipsis").dotdotdot();
             }
        };
         $(document).ecommerce({
       'app_public' :  app_public,
       'animation' : 'simple',
       'base_url' : base_url,
       'checkout_url' :  checkout_url,
       'products_per_page' : 9
     });

        $('.product-list').ecommerce('product_box', config);

        // destacado categoria 2
        // config.tag = 'destacado_categoria2';
        // $('.product-list2').ecommerce('product_box', config);
    });
</script>
{% end %}

{% block body %}

        <!-- registration -->
        
<div class="container min">        
<section>
      <div class="banner-movil-det-art mobile-det" style="background:url('{{ article['thumb_500'] }}'); height:400px; background-position: 
      center; background-size:cover; margin-top: -1px;  filter: grayscale(0%) brightness(70%);-webkit-filter: grayscale(0%) brightness(70%);
    -moz-filter: grayscale(0%) brightness(70%);-ms-filter: grayscale(0%) brightness(70%);-o-filter: grayscale(0%) brightness(70%);">
       
        <img class="fondo-articulo hidden" src="{{ article["thumb_500"] }}" class="img-responsive lazy" data-original="{{ article["url"] }}" alt="item">
       </div>
</section>
</div>


        <div id="first-page-scroll" class="container min cart-list productlist" >
         <!--    <div class="row cero" > -->
                <div class="col-sm-12 blog-content">
                        <input type="hidden" id="article-description-ajax-url" value="{{ site.url }}article/update-description">
                        <input type="hidden" id="article-content-id" value="{{article['id']}}">
                        <div class="col-sm-12 blog-content" style="margin-bottom: 30px;">
                            <h1 class="text-center h1-art til-ban">
                                {{ article["title"] }}
                            </h1>
                            <div class="post-date" style="text-align:center;">
                                <br>
                            <!-- {{ article["creation_date"].strftime("%d %b %Y") }} -->
                            </div>
                        </div>

                        <div class="content articulo-text" style="text-align:center; float:left; width: 100%">
                            <div class="col-sm-12 especial">
                                <h2 class="h2-art til-ban-2">{{ article["caption"] }}
                             
                                </h2>
                            </div>
                            
                            <div align="center">
                                <div class="col-md-12 content-picture">
                                    <!-- <div>
                                        <img class="medium" src="{{ site_base }}/static/img/0013.png" class="lazy" data-original="{{ article["thumb_500"] }}" offsetx="{{ article["offset_x"] }}" offsety="{{ article["offset_y"] }}" alt="item">
                                    </div> -->
                                </div>
                            </div>
                            
                           <!--  <div class="col-sm-12 especial"> -->
                           <div align="center">
                               <div class="col-sm-12">
                                   <div class="">
                                        <div id="description" class="p-art dan">
                                            {{ article["description"] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                            <div class="col-sm-12 especial p-art" style="text-align: right;">
                            </div>
                            <div class="col-sm-12 p-art ">
                              <!--   tags | <a>{{ "</a> , <a>".join(article["tags"]) }}</a> -->
                            </div>
                        </div>
                </div>
                <div class="col-sm-3 blog-sidebar">
                    <div class="widget" style="text-align:left;">
                    </div>
                </div>
          <!--   </div> -->
            
            
            <!-- row 4 -->
        </div>

<!--     <div id="contenedor" class="container-fluid productlist">
            <article>
                <header>
                    <h1 class="h1-art especial text-center" >Contenido relacionado a este articulo</h1>
                </header>
            </article>
            <div class="row cont-rel">
                {{ getRelatedArticles(article["id"]) }}
            </div>
     </div> -->



{% include '../home/footer.html' %}
{% end %}
